<!--<script context="module">
	export async function preload(page, session){
		return console.log( page.params );	
	}
</script>
<svelte:head>
	<title>Dark</title>
	<link rel='stylesheet' href='assets/css/landing.css'>
</svelte:head>
<script>
	import { onMount } from 'svelte';
	import { Theme } from './_stores/theme.js';
	import { vertical, frame } from './_stores/props.js';

	import MoonT from './_assets/moonLanding/Top.svelte';
	import MoonC from './_assets/moonLanding/Center.svelte';
	import MoonB from './_assets/moonLanding/Bottom.svelte';
	import MoonV from './_assets/moonLanding/Vertical.svelte';

	onMount(()=>{
		Theme.dark();
	});
</script>
<section>
{ #if $vertical }
	<a class="dark-vertical" href="gallery/">
		<MoonV/>
	</a>
{ :else }
	<a id='frames-dark' href="gallery/">
		<div class='landscape'>
			<MoonT/>
		</div>
		<div class='landscape offset'>
			<MoonC/>
		</div>
		<div class='landscape'>
			<MoonB/>
		</div>
	</a>
{/if}
</section>
<!--
<style>
	@media(min-aspect-ratio:13/6){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:9vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:13/6){
		#frames-dark{
			display:block;
			margin-left:8vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:16/9){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:7vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:5/3){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:5vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:3/2){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:6vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:4/3){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:3vw;
			margin-top: 12vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:6/5){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:4vw;
			margin-top: 15vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 21vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
/*vertical*/
	@media(max-aspect-ratio:1/1){
		.vertical{ 
			display: block;
			height:48vh;
			margin-top: 16vh;
			margin-left: 13vw;
		}
	}
	@media(max-aspect-ratio:3/4){
		.vertical{ 
			display: block;
			height:48vh;
			margin-top: 14vh;
			margin-left: 11vw;
		}
	}
	@media(max-aspect-ratio:2/3){
		.vertical{ 
			display: block;
			margin-left: 9vw;
			margin-top: 18vh;
			height:40vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:5/8){
		.vertical{ 
			display: block;
			margin-left: 7vw;
			margin-top: 18vh;
			height:42vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:9/16){
		.vertical{ 
			display: block;
			margin-left: 8vw;
			margin-top: 18vh;
			height:40vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:1/2){
		.vertical{ 
			display: block;
			margin-left: 7vw;
			margin-top: 18vh;
			height:38vh;
			max-width: 40vw;
		}
	}
</style>
-->
