<script>
	import { frame } from '../../../_stores/props.js';

	let left = false;
	let right = false;

	let movePaddle = e =>{
		switch( e.keyCode ){
			case 13:
				if( animation===0 ){
					animate();
				};
				break;
			case 39:
				right = true;
				break;
			case 37:
				left = true;
				break;
		};
	};

	let stopPaddle = e =>{
		switch( e.keyCode ){
			case 39:
				right = false;
				break;
			case 37:
				left = false;
				break;
		};
	};
</script>
<svelte:window on:keydown='{ movePaddle }' on:keyup='{ stopPaddle }' />
