<svelte:head>
	<title>Breakout</title>
</svelte:head>
<script>
	import Controller from './Controller.svelte';
	import View from './View.svelte';
	import { frame } from '../../../_stores/props.js';
/*	
	let resetGame =()=>{
		if( $current.lives===0 ){ 
			status = $bricks.map( brick => brick.status = true ); 
			$current.lives = 3;
		};
		animation = 0;
		ball.reset();
		paddle.reset()
	};

	

//animation frame

	let animation = 0;
	let animate = ()=>{ 
		ball.start(); 
		if( $paddle.x > 0 && left === true ){ 
			paddle.moveL() 
		} else if(( $paddle.x+$paddle.w )< $game.w && right === true ){
			paddle.moveR()
		} 
		animation = requestAnimationFrame( animate );
	};

// collision boundaries
	$: switch( $ball.x ){
		case $game.x:  
			ball.flipX();
			break;
		case ( $game.x+$game.w ):
			ball.flipX();
			break;
		};

	$: switch( $ball.y ){
		case $game.y:  
			ball.flipY(); 
			break;
		case ($game.y+$game.h):
			cancelAnimationFrame( animation );
			$current.lives -= 1;
			resetGame();
			break;
		};

//collision paddle
	let deltaX;
	let deltaY;

	$: 	deltaX = $ball.x - Math.max( $paddle.x, Math.min( $ball.x, $paddle.x+ $paddle.w ));
	$: 	deltaY = $ball.y - Math.max( $paddle.y, Math.min( $ball.y, $paddle.w+ $paddle.h ));

	$: 	if(( deltaX*deltaX+deltaY*deltaY )<( $ball.r*$ball.r )){
			if( $ball.sy === -1 ){
				( $ball.sx === 1 &&( $ball.x )< $paddle.x &&( $ball.x+$ball.r )>$paddle.x )?ball.flipX()
					:( $ball.sx === -1 &&( $ball.x )>( $paddle.x+$paddle.w )&&( $ball.x-$ball.r )<( $paddle.x+$paddle.w ))?ball.flipX() 
					: ball.flipY();
			};
		};

//collision brick
	$: $bricks.forEach(( brick, i )=>{
		let echoX = $ball.x - Math.max(brick.x, Math.min( $ball.x, brick.x+ brick.w ))
		let echoY = $ball.y - Math.max(brick.y, Math.min( $ball.y, brick.w+ brick.h ))
		if( status[ i ]&&( echoX*echoX+echoY*echoY )<( $ball.r*$ball.r )){
			( $ball.sx === 1 &&( $ball.x )< brick.x &&( $ball.x+$ball.r )>brick.x )? ball.flipX()
				:( $ball.sx === -1 &&( $ball.x )>( brick.x+brick.w )&&( $ball.x-$ball.r )<( brick.x+brick.w ))? ball.flipX()
				:ball.flipY();
			updateStatus( i );
			$current.score += 100;
			if( status.every( val=> val===false )){
				cancelAnimationFrame( animation );
				$current.level += 1;
				resetGame();
			};
		};
	});
// lives 
	let hearts;
	$: hearts = Array.from(
		{ length: $current.lives }, 
		( val, i ) =>{ 
			val = i*15+10 
			return val;
		}
	);
	*/


</script>
<section id="breakout2">
	<Controller/>
	<View/>
</section>
<style>
	#breakout2 {
		position: absolute; 
		top: 0;
		right: 0;
		width:	85vw; 
	}
</style>
