<script>
	import { Colors } from '../../../_stores/theme.js';
	import { current, game, ball, bricks, paddle } from './store.js';

	let status = $bricks.map( brick => brick.status = true ); 

	let updateStatus = brick =>{ 
		status[ brick ] = false;
	};

</script>
<svg id="cvsBreakout" viewbox="0 0 { $game.w } { $game.h }">
	<slot name="bricks">
	{ #each $bricks as brick, i ( brick.id ) }
		{ #if status[ i ] }
			<rect	
				x={ brick.x }
				y={ brick.y }
				width={ brick.w }
				height={ brick.h }
				fill="{ $Colors.alternative }"
				rx="1"
				ry="1"
							/>
		{ /if } 
	{ /each }
	</slot>
	<slot name="ball">
	<circle
		id="Ball"
		cx={ $ball.x }
		cy={ $ball.y }
		r= { $ball.r }
		fill="{ $Colors.secondary }"
							/>
	</slot>
	<slot name="Paddle">
		<rect
			id="Paddle"
			x={ $paddle.x }
			y={ $paddle.y }
			width={ $paddle.w }
			height={ $paddle.h }
			rx="1"
			ry="1"
			fill="{ $Colors.alternative }"
								/>
	</slot>
</svg>
	<!--
	{ #if animation === 0 }
		<rect
			id="StartButton"
			x= "160"
			y= "120"
			width="80"
			height="20"
			rx="1"
			ry="1"
			fill="{ $Colors.focal }"
			on:click="{ animate }"
									/>
		<text x="167" y="135" font-size="13" fill="{ $Colors.secondary }" on:click="{ animate }">
			Start Game
		</text>
	{ /if }
	-->
	<!--
	{ #each hearts as heart }
		<polygon 
		  	points="{ heart+4 },200 { heart+8 },194 { heart },194 { heart+4 },200"	 
			fill="{ $Colors.focal }"								
		/>
		<circle 
			cx='{ heart+2.4 }' 
			cy='193' 
			r='2.4' 
			fill="{ $Colors.focal }"								
								/>
		<circle 
			cx='{ heart+5.6 }' 	
			cy='193' 
			r='2.4' 
			fill="{ $Colors.focal }"								
								/>
	{ /each }
	-->
	<!--
	<text x="{$game.w-10}" y='{$game.h-10}' text-anchor='end' font-size='18' fill='{ $Colors.secondary }'>
		{ $current.score }
	</text>
	-->
