<script>
	import { onMount, afterUpdate } from 'svelte'
	import { locations, selectedCity, selectedDay } from './temps.js';
	import { lineGraph } from './graph.js';

	export let position;
</script>
<div 
	id=background 
	 style="background: var( --alternative ); 
		top:{ position.y }px; 
		left:{ position.x }px; 
	 	z-index:{ position.z };"
		on:mousedown
						>
	<h1 id="headingWeather">Current Forecast</h1>
	<div id="selectCityWrapper">
		<select id="cities" bind:value="{ $selectedCity }">
			{#each $locations as obj, i}
				<option value={i}>{ obj.city }, { obj.state }</option>
			{/each}
		</select>
		<svg id="selectCityArrow" viewBox="0 0 100 100" role="presentation">
			<path
			   id="path817"
			   fill='var( --shadow )'	
			   d="M 100,50 C 100,50 71,67 56,75 37,84 0,100 0,100 L 21,49 0,0 c 0,0 38,16 56,25 C 71,33 100,50 100,50 Z"
					 />
		</svg>

	</div>
	<div id="graphWrapper">
		<svg 
			id="graphBase" 
			class="graph"
			viewBox="-9 { $lineGraph.y1-5  } 85 { $lineGraph.y2-$lineGraph.y1+15  }" 
			preserveAspectRatio="none"
									>
			{ #each $lineGraph.yAxis as tick, i }
				<text x="-9" y="{ tick }" style="font:20% courier-new;" >{ $lineGraph.yInput[i] }</text>
			{ /each }
			{ #each $lineGraph.xAxis as tick,i }
				<text text-anchor="middle" x="{ tick }" y="{ $lineGraph.y2+5 }" style="font:20% courier-new">{ $lineGraph.xInput[i] }</text>
			{ /each }
		</svg>
		<svg id="graphLine" class="graph" 
			viewBox="-9 { $lineGraph.y1-10  } 85 { $lineGraph.y2-$lineGraph.y1+14  }" 
			preserveAspectRatio="none"
									>
			{ #each $lineGraph.yAxis as tick }
				<line x1="-1" y1="{ tick }" x2="71" y2="{ tick }" stroke='var( --shadow )' opacity='0.45'/>
			{ /each }

			<polyline points="{ $lineGraph.line }" stroke-width="1" stroke="black" fill="none"/>
			{ #each $lineGraph.points as [ x, y ]}
				<circle
					cx='{x}'
					cy='{y}'
					r='2'
					fill='var( --main )'
				/>
			{ /each }
		</svg>
	</div>
</div>
<style>
	#background {
		display: flex;
		flex-direction: column;
		position: absolute;
		padding: 1%;
		justify-content: space-around;
		align-items: center;
		border-radius: 9vh;
		padding:4% 3% 3%;
		height: 35vh;
		width: 25vw;
	}
	#headingWeather{
		margin-bottom:2%;
		font-height: 13%;
	}
	#graphWrapper{
		width: 80%;
		height: 100%;
	}
	.graph {
		height: 100%;
		width: 100%;
	}

	#graphLine {
		position: relative;
		top: -100%;
		transform: scale(1, -1);
	}
	#cities {
		border-radius: 9vh;
		height:100%;
		width:90%;
		font-size: 3vh;
		text-align: center;
		-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
	}
	#cities::after {
		border-radius: 9vh;
		text-align: center;
	}

	#selectCityWrapper{
		border-radius: 9vh;
		justify-content:center;
		margin-left:8%;
		width: 80%;
		height: 15%;
	}

	#selectCityArrow {
		z-index: 1;
		height: 45%;
		margin-left: -10%;
		transform: rotate(90deg);
		pointer-events:none;
	}

</style>
