<svelte:head>
	<title>Breakout</title>
</svelte:head>
<script>
	import { Colors } from '../../../_stores/theme.js';
	import { game, ball, bricks, paddle } from './model.js';

	let status = $bricks.map( brick => brick.status = true ); 

	let updateStatus = brick =>{ 
		status[ brick ] = false;
	};

	let resetGame =()=>{
		if( $game.lives===0 ){ 
			status = $bricks.map( brick => brick.status = true ); 
			$game.lives = 3;
		};
		animation = 0;
		ball.reset();
		paddle.reset()
	};

//paddle control 
	let left = false;
	let right = false;

	let movePaddle = e =>{
		switch( e.keyCode ){
			case 13:
				if( animation===0 ){
					animate();
				};
				break;
			case 39:
				right = true;
				break;
			case 37:
				left = true;
				break;
		};
	};

	let stopPaddle = e =>{
		switch( e.keyCode ){
			case 39:
				right = false;
				break;
			case 37:
				left = false;
				break;
		};
	};

//animation frame
	let animation = 0;
	let animate = ()=>{ 
		ball.start(); 
		if( $paddle.x > 0 && left === true ){ 
			paddle.moveL() 
		} else if(( $paddle.x+$paddle.w )< $game.w && right === true ){
			paddle.moveR()
		} 
		animation = requestAnimationFrame( animate );
	};

// collision boundaries
	$: switch( $ball.x ){
		case $game.x:  
			ball.flipX();
			break;
		case ( $game.x+$game.w ):
			ball.flipX();
			break;
		};

	$: switch( $ball.y ){
		case $game.y:  
			ball.flipY(); 
			break;
		case ($game.y+$game.h):
			cancelAnimationFrame( animation );
			$game.lives -= 1;
			resetGame();
			break;
		};

//collision paddle
	let deltaX;
	let deltaY;

	$: 	deltaX = $ball.x - Math.max( $paddle.x, Math.min( $ball.x, $paddle.x+ $paddle.w ));
	$: 	deltaY = $ball.y - Math.max( $paddle.y, Math.min( $ball.y, $paddle.w+ $paddle.h ));

	$: 	if(( deltaX*deltaX+deltaY*deltaY )<( $ball.r*$ball.r )){
			if( $ball.sy === -1 ){
				( $ball.sx === 1 &&( $ball.x )< $paddle.x &&( $ball.x+$ball.r )>$paddle.x )?ball.flipX()
					:( $ball.sx === -1 &&( $ball.x )>( $paddle.x+$paddle.w )&&( $ball.x-$ball.r )<( $paddle.x+$paddle.w ))?ball.flipX() 
					: ball.flipY();
			};
		};

//collision brick
	$: $bricks.forEach(( brick, i )=>{
		let echoX = $ball.x - Math.max(brick.x, Math.min( $ball.x, brick.x+ brick.w ))
		let echoY = $ball.y - Math.max(brick.y, Math.min( $ball.y, brick.w+ brick.h ))
		if( status[ i ]&&( echoX*echoX+echoY*echoY )<( $ball.r*$ball.r )){
			( $ball.sx === 1 &&( $ball.x )< brick.x &&( $ball.x+$ball.r )>brick.x )? ball.flipX()
				:( $ball.sx === -1 &&( $ball.x )>( brick.x+brick.w )&&( $ball.x-$ball.r )<( brick.x+brick.w ))? ball.flipX()
				:ball.flipY();
			updateStatus( i );
			$game.score += 100;
			if( status.every( val=> val===false )){
				cancelAnimationFrame( animation );
				$game.level += 1;
				resetGame();
			};
		};
	});
// lives 
	let hearts;
	$: hearts = Array.from(
		{ length: $game.lives }, 
		( val, i ) =>{ 
			val = i*15+10 
			return val;
		}
	);

</script>
<svelte:window on:keydown={ movePaddle } on:keyup={ stopPaddle } />
<section id="breakout">
	<svg viewbox="0 0 200 100" >
		{ #each $bricks as brick, i ( brick.id ) }
			{ #if status[ i ] }
				<rect	
					x={ brick.x }
					y={ brick.y }
					width={ brick.w }
					height={ brick.h }
					fill="{ $Colors.alternative }"
					rx="1"
					ry="1"
										/>
			{ /if } 
		{ /each }
		<circle
			id="Ball"
			cx={ $ball.x }
			cy={ $ball.y }
			r= { $ball.r }
			fill="{ $Colors.secondary }"
								/>
		<rect
			id="Paddle"
			x={ $paddle.x }
			y={ $paddle.y }
			width={ $paddle.w }
			height={ $paddle.h }
			rx="1"
			ry="1"
			fill="{ $Colors.alternative }"
								/>
	{ #if animation === 0 }
		<rect
			id="StartButton"
			x= "70"
			y= "45"
			width="60"
			height="10"
			rx="1"
			ry="1"
			fill="{ $Colors.focal }"
			on:click="{ animate }"
									/>
		<text x="77" y="53" font-size="9" fill="{ $Colors.secondary }" on:click="{ animate }">
			Start Game
		</text>
	{ /if }
	{ #each hearts as heart }
		<polygon 
		  	points="{ heart+4 },100 { heart+8 },94 { heart },94 { heart+4 },100"	 
			fill="{ $Colors.focal }"								
		/>
		<circle 
			cx='{ heart+2.4 }' 
			cy='93.2' 
			r='2.4' 
			fill="{ $Colors.focal }"								
								/>
		<circle 
			cx='{ heart+5.6 }' 	
			cy='93.2' 
			r='2.4' 
			fill="{ $Colors.focal }"								
								/>
	{ /each }
	<text x="190" y='99.5' text-anchor='end' font-size='9' fill='{ $Colors.secondary }'>
		{ $game.score }
	</text>
	</svg>
</section>
<style>
	#breakout {
		position: absolute; 
		top: 0;
		left: 15vw;
	}
</style>
