<script>
	let buttonRows = [
		[ "x", "/", "+", "-" ],
		[ "7", "8", "9" ],
		[ "4", "5", "6" ],
		[ "1", "2", "3"],
		[ ".", "0" ]
	];

	export let height;

	//???let hover;
	//class:hover
	//on:mouseenter="{}" on:mouseLeave="{}"
</script>
<svg viewbox="0 0 70 110" style="height:{ height }">
	<defs>
		<linearGradient id="inputView" x1="0" x2="0" y1="0" y2="1">
			<stop offset="0%" stop-color='var( --main )'/>
			<stop offset="50%" stop-color='var( --secondary )'/>		
			<stop offset="100%" stop-color='var( --main )'/>		
		</linearGradient>

		<radialGradient id="funcButtonInset">
			<stop offset="35%" stop-color='var( --main )'/>
			<stop offset="100%" stop-color='var( --alternative )'/>
		</radialGradient>
		<radialGradient id="numButtonInset">
			<stop offset="41%" stop-color='var( --secondary )'/>
			<stop offset="100%" stop-color='var( --main )'/>
		</radialGradient>
	</defs>
	<rect
		x="0"
		y="0"
		width="70"
		height="108"
		rx="9"
		ry="9"
		fill='var( --alternative )'
					/>
	<rect
		x="5"
		y="8"
		width="60"
		height="12"
		rx="3"
		ry="3"
		fill='var( --secondary )'
					/>
	<rect
		x="5"
		y="8"
		width="60"
		height="12"
		rx="3"
		ry="3"
		fill="url( #inputView )"
		opacity="0.2"
					/>

	<text
		x="61.5"
		y="18"
		font-size="75%"
		fill='var( --main )'
		text-anchor="end"
					>
			0
	</text>
	{ #each buttonRows[0] as button, i }
		<rect
			x="{ 5+i*(12+4) }"
			y="25"
			width="12"
			height="12"
			rx="3"
			ry="3"
			fill='var( --main )'
						/>
		<rect
			x="{ 5+i*(12+4) }"
			y="25"
			width="12"
			height="12"
			rx="3"
			ry="3"
			fill='url( #funcButtonInset )'
			opacity=".3"

						/>
		<text 
			x="{ 11+i*(12+4) }" 
			y="34" 
			fill='var( --secondary )' 
			font-size="63%" 
			text-anchor="middle"
						>
			{ button }
		</text>
	{ /each }
	{ #each buttonRows.slice(1) as buttons, i } 
		{ #each buttons as button, j } 
			<rect 
				x="{ 5+j*(12+4) }"
				y="{ 41+i*(12+4) }"
				width="12"
				height="12"
				rx="3"
				ry="3"
				fill='var( --secondary )'
							/>
			<rect 
				x="{ 5+j*(12+4) }"
				y="{ 41+i*(12+4) }"
				width="12"
				height="12"
				rx="3"
				ry="3"
				fill="url( #numButtonInset )"
				opacity="0.3"
							/>

			<text 
				x="{ 11+j*(12+4) }" 
				y="{ 51+i*(12+4) }" 
				fill='var( --main )' 
				font-size="63%" 
				text-anchor="middle"
							>
				{ button }
			</text>
		{ /each }
	{ /each }
	<rect 
		x="37"
		y="89"
		width="12"
		height="12"
		rx="3"
		ry="3"
		fill='var( --secondary )'
				/>
	<rect 
		x="37"
		y="89"
		width="12"
		height="12"
		rx="3"
		ry="3"
		fill="url( #numButtonInset )"
		opacity="0.3"
						/>

	<text 
		x="42.8" 
		y="97.8" 
		fill='var( --main )' 
		font-size="58%" 
		text-anchor="middle"
					>
		+/-
	</text>
	<rect
		x="53"
		y="41"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill='var( --main )'
					/>
	<rect
		x="53"
		y="41"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill="url( #funcButtonInset )"
		opacity="0.3"
					/>

	<text 
		x="59" 
		y="57" 
		fill='var( --secondary )' 
		font-size="48%" 
		text-anchor="middle"
								>
		C
	</text>
	<rect
		x="53"
		y="73"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill='var( --main )'
						/>
	<rect
		x="53"
		y="73"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill="url( #funcButtonInset )"
		opacity="0.3"
						/>

	<text 
		x="59" 
		y="90.5" 
		fill='var( --secondary )' 
		font-size="75%" 
		text-anchor="middle"
					>
		=
	</text>
</svg>
