:root .light {	
	--main:#7892ff; 
	--secondary:#eee5e9; 
	--shadow:#2b303a; 
	--alternative:#b8b8d1;
	--focal:#ee6352;
	--imageDirection: row;
	--frameHeight: 45vh; 
}

:root .dark {
	--main:#2f004f; 
	--secondary:#d8ddef; 
	--shadow:#0d1b1e; 
	--alternative:#b8b8d1; 
	--focal:#a4508b; 
	--imageDirection: column;
	--frameHeight: 23vh; 
}

.light #svg0 {
	--offset: 13vh auto 0;
}
.light #svg2 {
	--offset: 0 auto 13vh;
}
.dark #svg0, #svg2 {
	--offset: 0 18vw 0 0;
}
#svg1 {
	--offset: 0;
}

@media(max-aspect-ratio:1/1){
	:root .dark {
		--imageDirection: row;
	}
}
