@media(min-aspect-ratio:13/6){
		#frames-dark{
			display:block;
			position: relative;
			margin-left:9vw;
			margin-top: 9vh;
			z-index:10;
			width:50vw;
		}
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:13/6){
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:16/9){
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:5/3){
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:3/2){
		.landscape{
			height: 25vh;
			flex:auto;
			align-self: center;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:4/3){
		.landscape{
			margin-top: 4vh;
			height: 25vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
	@media(max-aspect-ratio:6/5){
		.landscape{
			flex:auto;
			height: 21vh;
		}
		.offset{
			margin-left:16vw;
		}
	}
/*vertical*/
	@media(max-aspect-ratio:1/1){
		.vertical{ 
			display: block;
			height:48vh;
			margin-top: 16vh;
			margin-left: 13vw;
		}
	}
	@media(max-aspect-ratio:3/4){
		.vertical{ 
			display: block;
			height:48vh;
			margin-top: 14vh;
			margin-left: 11vw;
		}
	}
	@media(max-aspect-ratio:2/3){
		.vertical{ 
			display: block;
			margin-left: 9vw;
			margin-top: 18vh;
			height:40vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:5/8){
		.vertical{ 
			display: block;
			margin-left: 7vw;
			margin-top: 18vh;
			height:42vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:9/16){
		.vertical{ 
			display: block;
			margin-left: 8vw;
			margin-top: 18vh;
			height:40vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:1/2){
		.vertical{ 
			display: block;
			margin-left: 7vw;
			margin-top: 18vh;
			height:38vh;
			max-width: 40vw;
		}
	}	
