/*
:root .light {	
	--imageDirection: row; 
}

:root .dark {
	--imageDirection: column; 
}

#BackGround {
	background: var(--main);
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
}
#TopBorder {
	position:absolute;
	top:0;left:0;
	background: var( --secondary );
	height:7vh;width:100vw;
	box-shadow:0 0.01vh 1vh var(--shadow);
}
@media(min-aspect-ratio:13/6){
	
	#Clock {
		position:absolute;
		right: 8vw;
		height: 28vh;
		top : 20vh;
	}
	#Switch_Dark {
		position:absolute;
		top: 55vh;
		right: 3vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 22vh;
		width: 65vw;
		perspective:18vh;
	}
	#LapTop {
		position: absolute;
		bottom: 23vh;
		right: 11vw;
		margin: 1vh auto -18vh;
		height: 32vh;
		z-index:10;
		perspective:18vh;
	}
	#Duck {
		position: absolute;
		bottom: 8vh;
		right: 31vw;
		height: 13vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 1vh;
		right: 43vw;
		height: 12vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:13/6){
	#Clock {
		position:absolute;
		right: 13vw;
		height: 28vh;
		top : 18vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 3vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;

	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 20vh;
		width: 65vw;
		perspective:18vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 10vw;
		margin: 1vh auto -18vh;
		height: 34vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 33vw;
		height: 11vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: .5vh;
		right: 43vw;
		height: 10vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:16/9){
	#Clock {
		position:absolute;
		right: 13vw;
		height: 28vh;
		top : 23vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		height: 9vh;
		right: 3vw;	
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 21vh;
		width: 65vw;
		perspective:18vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 8vw;
		margin: 1vh auto -18vh;
		height: 32vh;
		z-index:10;
		perspective:18vh;
	}
	#Duck {
		position: absolute;
		bottom: 8vh;
		right: 33vw;
		height: 10vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 1vh;
		right: 43vw;
		height: 10vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:5/3){
	#Clock {
		position:absolute;
		right: 5vw;
		height: 25vh;
		top : 23vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 3vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 65vw;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 6vh;
		right: 32vw;
		height: 10vh;
		z-index:10;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 7vw;
		margin: 1vh auto -18vh;
		height: 28vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:3/2){
	#Frames {
		display: flex;
		flex-direction: var( --imageDirection );
		justify-content: space-between;
		z-index:1;
		margin-top: 10vh;
		height: 80vh;
		width:50vw;
	}
	#Clock {
		position:absolute;
		right: 5vw;
		height: 27vh;
		top : 18vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 2vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;

	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 65vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 6vw;
		margin: 1vh auto -18vh;
		height: 28vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 32vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 42vw;
		height: 10vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:4/3){
	#Clock {
		position:absolute;
		right: 5vw;
		height: 27vh;
		top : 18vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 2vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 65vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 5vw;
		margin: 1vh auto -18vh;
		height: 27vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 32vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 1vh;
		right: 43vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:6/5){
	#Clock {
		position:absolute;
		right: 5vw;
		height: 23vh;
		top : 24vh;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 2vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 76vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 5vw;
		margin: 1vh auto -18vh;
		height: 28vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 38vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 1vh;
		right: 50vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
}
/*vertical
@media(max-aspect-ratio:1/1){
	#Clock {
		position:absolute;
		right: 9vw;
		height: 25vh;
		top : 23vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 2vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 6vw;
		margin: 1vh auto -18vh;
		height: 27vh;
		z-index:10;
		perspective:15vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 49vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 66vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:3/4){
	#Clock {
		position:absolute;
		right: 7vw;
		height: 23vh;
		top : 23vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 2vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 18vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 5vw;
		margin: 1vh auto -18vh;
		height: 26vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 49vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 65vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:2/3){
	#Clock {
		position:absolute;
		right: 6vw;
		height: 23vh;
		top : 23vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 5vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 17vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 22vh;
		right: 2vw;
		margin: 1vh auto -18vh;
		height: 25vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 49vw;
		height: 8vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 65vw;
		height: 9vh;
		z-index:10;
		perspective:21vh;
	}
}
@media(max-aspect-ratio:5/8){
	#Clock {
		position:absolute;
		right: 5vw;
		height: 23vh;
		top : 23vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 4vw;	
		height: 9vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 16vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 3vw;
		margin: 1vh auto -18vh;
		height: 23vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 7vh;
		right: 48vw;
		height: 7vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 65vw;
		height: 8vh;
		z-index:10;
		perspective:21vh;
	}
}
@media( max-aspect-ratio:9/16 ){
	#Clock {
		position:absolute;
		right: 3vw;
		height: 21vh;
		top : 24vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 55vh;
		right: 5vw;	
		height: 7vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 14vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 1.5vw;
		margin: 1vh auto -18vh;
		height: 21vh;
		z-index:10;
		perspective:21vh;
	}
	#Duck {
		position: absolute;
		bottom: 5vh;
		right: 49vw;
		height: 7vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 0.5vh;
		right: 65vw;
		height: 8vh;
		z-index:10;
		perspective:21vh;
	}
}
@media( max-aspect-ratio:1/2){
	#Clock {
		position:absolute;
		right: 4vw;
		height: 18vh;
		top : 28vh;
		max-width: 45vw;
	}
	#Switch_Dark{
		position:absolute;
		top: 63vh;
		right: 5vw;	
		height: 7vh;
		width: 5vh;
		border: none;
		border-radius: 0;
	}
	#Desk{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index:0;
		height: 14vh;
		width: 100vw;
		perspective:21vh;
	}
	#LapTop {
		position: absolute;
		bottom: 21vh;
		right: 2vw;
		margin: 1vh auto -18vh;
		height: 20vh;
		z-index:10;
		perspective:18vh;
	}
	#Duck {
		position: absolute;
		bottom: 6vh;
		right: 48vw;
		height: 7vh;
		z-index:10;
		perspective:21vh;
	}
	#Phone {
		position: absolute;
		bottom: 1vh;
		right: 65vw;
		height: 7vh;
		z-index:10;
		perspective:15vh;
	}
}
*/
