<script>
	import { vertical } from '../_stores/props.js';
	import { Theme } from '../_stores/theme.js';

	import EndlessL from '../_assets/endless/Left.svelte';
	import EndlessC from '../_assets/endless/Center.svelte';
	import EndlessR from '../_assets/endless/Right.svelte';

	import MoonT from '../_assets/moonLanding/Top.svelte';
	import MoonC from '../_assets/moonLanding/Center.svelte';
	import MoonB from '../_assets/moonLanding/Bottom.svelte';
	import MoonV from '../_assets/moonLanding/Vertical.svelte';

	$: landscape = $Theme === 'light' ? [ EndlessL, EndlessC, EndlessR ] : [ MoonT, MoonC, MoonB ]

	$: portrait = $Theme === 'light' ? EndlessC : MoonV;

</script>
{ #if $vertical === true }
	<figure id="Portrait">
		<svelte:component this='{ portrait }'/>
	</figure>
{ :else }
	{ #each landscape as img, i }
		<figure id='{`svg${i}`}' class='landscape'>
			<svelte:component this='{ img }'/>
		</figure>
	{ /each }
{ /if }
<style> 
	.landscape {
		flex:auto;
		margin:var( --offset );
		width:36vw;
		max-height:30vh;
		display:flex;
		justify-content: center;
		align-items:center;
	}
	#Portrait {
		height: 45vh;
	}
</style>
