<script>
	import { onDestroy } from 'svelte';
	import { frame, vertical } from '../_stores/props.js';

	const drawKeys = ( rows, cols, bx, by, w, h, p ) => Array.from(
		{ length: rows }, 
		( _, row ) => Array.from(
			{ length: cols }, 
			( _, col ) => {
				let x = col*w+bx+p;
				let y = row*h+by;
				return { x, y, h, w }
			}
		)
	);
	
	let keys = drawKeys( 6, 12, 15, 141, 13, 3, 5 ); 

	//export display, move function to layout

	export let display = ["$: ",""];

	let cursor = ["",""];
	let skew = -40;
	let translate = 105;

	$:  if( $frame%18 === 0 && $frame <( display[0].length*2 )){ 
			cursor[0]===""?cursor[0]="_":cursor[0]="";
		} else if( $frame%18 === 0 && display[1].length*2 ){
			cursor[0]="";
			cursor[1]==="_"?cursor[1]="":cursor[1]="_";
		}

	$: 	if( $vertical ){
			skew = -45;
			translate = 131;
		}else{ 
			skew = -53;
			translate = 175;
		};

</script>
	<svg id="LapTopSvg" viewBox='-90 0 300 200' >
		<defs>
			<filter id="shadow-Lt">
				<feDropShadow 
					dx="4"
					dy="2"
					steDeviation=".5"
					flood-color='var( --shadow )'
					flood-opacity="0.45"
									/>
			</filter>
			<filter id="shadow-Mtr">
				<feDropShadow 
					dx="1"
					dy="3"
					steDeviation=".5"
					flood-color='var( --shadow )'
					flood-opacity="0.45"
									/>
			</filter>
			<filter id="shadow-Scr">
				<feDropShadow 
					dx="-1"
					dy="-0.4"
					steDeviation=".2"
					flood-color='var( --shadow )'
					flood-opacity="0.35"
									/>
			</filter>
			<filter id="glare-Lt">
				<feTurbulence 
					type="turbulence"
					baseFrequency="0.02"
					numOctaves="3" 
					result="turbulence"
									/>
			</filter>
	</defs>
	<g transform="skewX({ skew }) translate({ translate })">
		<rect 
			id='LtBase'
			x='0'
			y='130'
			height='65'
			width='209'
			rx='23'
			ry='23'	
	   		fill='var( --alternative )'
			filter='url( #shadow-Lt )'
							/>
		<rect 
			id='LtPanel'
			x='0'
			y='130'
			height='60'
			width='200'
			rx='15'
			ry='8'	
			fill='var( --secondary )'
			filter='url(#shadow-Lt)'

								/>
		<rect 
			id='KeyBase'
			x='10'
			y='140'
			height='21'
			width='180'
			rx='3%'
			ry='5%'
			fill='var( --alternative )'
				/>
		{ #each keys as row }
			{ #each row as key }
				<rect 
	   				x= { key.x } 
					y= { key.y } 
	   				height={ key.h } 
	   				width={ key.w } 
					fill='var( --secondary )'
	   				filter='url( #shadow-Lt )'
										/>
			{ /each }
		{ /each }
		<rect 
			id='TrackPad'
			x='69'
			y='164'
			height='18'
			width='60'
			rx='3%'
			ry='5%'
	   		fill='var( --alternative )'
	   		filter='url( #shadow-Scr )'
							/>
	</g>
	<g id='monitor'>
		<rect 
			id='LtTopShell'
			x='0'
			y='0'
			height='130'
			width='201'
			rx='15%'
			ry='07%'	
	   		fill='var( --alternative )'
							/>
		<rect 
			id='LtTop'
			x='0'
			y='0'
			height='130'
			width='200'
			rx='9%'
			ry='9%'
			fill='var( --secondary )'
			filter='url(#shadow-Mtr)'
					/>
		<rect 
			id='Screen'
			x='11'
			y='13'
			height='100'
			width='180'
			rx='3%'
			ry='3%'
	   		fill='var( --shadow )'
			filter='url( #shadow-Scr )'
					/>
		<rect 
			x='12'
			y='12'
			height='90'
			width='170'
			filter='url( #glare-Lt )'
	   		opacity='.23'
					/>

		<text x = '25' y = '35' fill='var( --secondary )'>
			<tspan dy='0' x='25'> { display[0]}{ cursor[0]}</tspan>
			<tspan dy='15' x='39'> { display[1]}{ cursor[1]}</tspan>
		</text>
	</g>
	<rect
		id='Hinge'
		x='35'
		y='125'
		height='10'
		width='120'
		rx='3%'
		ry='5%'
		fill='var( --alternative )'
		filter='url( #shadow-Lt )'
						/>
</svg>
<style>
	#LapTopSvg{
		max-height:100%;
		max-width:100%;
		transform: rotateX( 4deg );
	}
</style>
