<script>
	import { vertical } from '../_stores/props.js';

	import EndlessL from '../_assets/endless/Left.svelte';
	import EndlessC from '../_assets/endless/Center.svelte';
	import EndlessR from '../_assets/endless/Right.svelte';
</script>
{ #if $vertical === false }
	<figure id=Left>
		<EndlessL/>
	</figure>
{ /if }
<figure id=Center>
	<EndlessC/>
</figure>
{ #if $vertical === false }
	<figure id=Right>
		<EndlessR/>
	</figure>
{ /if }
<style>
	figure {
		height:69%;
		margin:0 1%;
		display:flex;
		align-items:center;
	}
	#Left {
		margin-top:13vh;
	}
	#Right {
		margin-bottom:13vh;
	}
</style>
