<script>
	import { Theme } from '../_stores/theme.js';
</script>
<svg id="LightSwitch" viewBox="-10 -10 120 220" xmlns="http://www.w3.org/2000/svg" >
	<rect
		x='-10'
		y='-10'
		width='120'
		height='220'
		fill='var( --secondary )'
							/>
	<polygon 
		points="10 20, 90 20, 80 100, 90 180 10 180, 20 100, 10 20" 
		stroke='var( --alternative )'
		stroke-width="9"
		fill='var( --secondary )'
							/>
	{ #if $Theme === 'dark'}
		<polygon 
			points="25 100, 75 100, 85 180, 15 180, 25 100" 
			fill='var( --shadow )' 
			opacity='.15'
								/>
	{ :else }
		<polygon 
			points="15 20, 85 20, 75 100, 25 100, 15 20" 
			fill='var( --shadow )' 
			opacity='.15'
								/>
	{ /if }
</svg>
<style>
	#LightSwitch{
		height: 100%;
	}
</style>
