<svg id="PhoneSvg" viewBox="0 0 48 86">
	<defs>
		<filter id="shadow-Mob">
			<feDropShadow 
				dx='2'
				dy='1'
				steDeviation='.9'
				flood-color='var( --shadow )'
				flood-opacity='.45'
								/>
		</filter>
		<filter id="glare-Mob">
			<feTurbulence 
				type='turbulence'
				baseFrequency='0.02'
				numOctaves='3' 
				result='turbulence'
								/>
		</filter>
	</defs>
	<rect 
		x='0'
		y='2'
		width='40'
		height='83'
		rx='9'
		ry='9'
		fill='var( --alternative )' 
		filter='url( #shadow-Mob )'
				/>
	<rect 
		x='2'
		y='0'
		width='40'
		height='81'
		rx='9'
		ry='9'
		fill='var( --secondary )'
				/>
	<rect 
		x="4.5"
		y="3"
		width="35"
		height="69"
		rx="9"
		ry="9"
		fill='var( --shadow )'
				/>
	<rect
		x="4"
		y="3"
		width="35"
		height="69"
		rx="9"
		ry="9"
		filter="url( #glare-Mob )"
		opacity='.37'
				/>
	<circle
		cx="21"
		cy="76"
		r="3"
		fill='var( --alternative )'
		/>
</svg>
<style>
	#PhoneSvg {
		max-height: 100%;
		max-width: 100%;
		transform: rotateX( 53deg ) rotateY( -3deg ) skewX( 10deg ) skewY( -10deg ) ;
	}
</style>
