<script>
	import { Theme } from '../../_stores/theme.js';
</script>

<nav id="menu" style='background: var( --secondary )'>
	<a id="breakoutLink" class="gameLinks" style="background:var( --alternative )" href="apps/games/breakout/">
		<h2> Breakout </h2>
	</a>	
	<a id="breakout2Link" class="gameLinks" style="background:var( --alternative )" href="apps/games/breakout2/">
		<h2> Breakout2 </h2>
	</a>	
	<footer id="gameFooter">
		<a class="footerButtons" style="background: var( --alternative )" href="apps/">
			<h3> Back </h3>
		</a>	
		<button 
			class="footerButtons" 
			style="background:var( --alternative )" 
			on:click="{ $Theme === "dark" ? Theme.light() : Theme.dark() }"
						>
			<h3>{ $Theme === "dark" ? "Light": "Dark" }</h3>
		</button>
	</footer>
</nav>
<slot></slot>
<style>
	#menu {
		position:absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 15vw;
	}
	.gameLinks {
		display: flex;
		height: 10vh;
		width: 88%;
		margin:1%;
		align-items: center;
		padding-left: 10%;
	}
	#gameFooter {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 10vh;
		width: 98%;
		margin:1%;
	}
	.footerButtons {
		display: flex;
		width:48%;
		height:100%;
		border: none;
		margin: auto;
		align-items: center;
		justify-content: center;
	}
</style>
