<svg id="DeskSvg" viewBox="0 0 420 100" preserveAspectRatio="none" xmlns:svg="http://www.w3.org/2000/svg">
	<defs>
		<filter id="glare-Dsk">
			<feTurbulence 
				type="turbulence"
				baseFrequency="0.02"
				numOctaves="3" 
				result="turbulence"
								/>
		</filter>
	</defs>
	<polygon 
		fill='var( --secondary )'
		points=" 160 10, 420 10, 420 20, 160 20, 50 100, 23 100, 160 10" 
				/>
	<polygon 
		fill='var( --alternative )'
		points=" 160 15, 420 15, 420 20, 160 20, 50 100, 38 100, 160 15" 
		opacity="0.35"
				/>
	<polygon 
		fill='var( --secondary )'
		points=" 156 20, 166 20, 166 100, 156 100, 156 20" 
				/>
	<polygon 
		fill='var( --alternative )'
		points=" 156 20, 161 20, 161 100, 156 100, 156 20" 
		opacity="0.45"
				/>

	<circle
		cx="308"
		cy="78"
		r="35"
		filter="url( #glare-desk )"
		opacity='.33'
				/>

	<polygon 
		fill='var( --alternative )'
		points=" 155 0, 420 0, 420 100 0 100, 155 0" 
		opacity='.43'
				/>
	<polygon 
		points=" 155 0, 420 0, 420 100 0 100, 155 0" 
		filter='url( #glare-desk )'
		opacity='.13'
				/>
<!--	<polygon 
		fill='var( --main )'
		points=" 0 0, 155 0, 0 100, 0 0" 
				/>
-->
</svg>
<style>
	#DeskSvg{
		height: 100%;
		width: 100%;
		transform: rotateX( 25deg ) translate(0, 15);
	}
</style>

