<script>
	import { Colors } from '../_stores/theme.js';
</script>
<section>
	<div id="screen" style="background:{ $Colors.shadow }; border: 3vh solid { $Colors.secondary }">
	</div>
</section>
<style>
	section {
		display: flex;
		height: 100vh;
		justify-content:center;
		align-items: center;
	}
	#screen {
		height: 85vh;
		width: 50vh;
		border-radius: 9vh;
	}
	@media(max-aspect-ratio:1/1){
		#screen {
			height: 94%;
			width: 100%;
			border-radius: 0;
		}
	}
</style>
