<script>
	import { onMount } from 'svelte';
	import { frame } from '../../_stores/props.js'

	let vbx = {
		w: 92,
		h: 55
	};

	const Grid = ( b, e ) => Array.from(
		{ length: ( e - b ) }, 
		( r, ir ) => Array.from(
			{ length: ( e - b ) }, 
			( c, ic ) => {
				return Object();	
			}
		)
	);

	const starMap = Grid( 0, 7 ).map(( row, i )=> row.map(( col, star ) => { 
		let x = Math.floor( Math.random()*(( vbx.w/10 )*( star-( star-10 )+1 )+( star-10 )));
		let y = Math.floor( Math.random()*((( vbx.h-20 )/5 )*( i-( i-5 )+1 )+( i-5 )));
		return { x, y };
	})); 
	
	let stars = starMap.map( row => row.map( star => {
		let x = star.x;
		let y = star.y;
		let o = Math.random()*(0.9-0.6)+0.6;
		let cood = x+' '+y+","+(x+1)+' '+(y+1);
		return { x, y, o, cood };
	}));

	$: 	if( $frame%26 == true ){ stars = stars.map( row => row.map( star => {
			let x = star.x;
			let y = star.y;
			let r1 = Math.floor( Math.random()*3 );
			let r2 = Math.floor( Math.random()*2 );
			let r3 = Math.floor( Math.random()*3 );
			let r4 = Math.floor( Math.random()*2 );
			let px10 = x-r1;
			let px20 = x-r2;
			let px30 = x-r3;
			let px40 = x-r4;
			let px11 = x+r1;
			let px21 = x+r2;
			let px31 = x+r3;
			let px41 = x+r4;

			let py10 = y-r1;
			let py20 = y-r2;
			let py30 = y-r3;
			let py40 = y-r4;
			let py11 = y+r1;
			let py21 = y+r2;
			let py31 = y+r3;
			let py41 = y+r4;

			let o = Math.random()*(0.9-0.6)+0.6;
			let cood = x+' '+y+","+x+' '+py10+','+x+" "+py21
				  +','+x+' '+y+","+px20+' '+y+','+px41+" "+y 

				  +','+x+' '+y+","+px10+' '+py20 
				  +','+x+' '+y+","+px21+" "+py11
				  +','+x+' '+y+","+px20+' '+py30
			 	  +','+x+' '+y+','+px31+" "+py21 
				  +','+x+' '+y+","+px30+' '+py40
				  +','+x+' '+y+','+px41+" "+py31 
				  +','+x+' '+y+","+px40+' '+py10 
				  +','+x+' '+y+','+px11+" "+py41

			  	  +','+x+' '+y+","+px20+' '+py11
				  +','+x+' '+y+','+px11+" "+py20
				  +','+x+' '+y+","+px30+' '+py21
				  +','+x+' '+y+','+px21+" "+py30 
				  +','+x+' '+y+","+px40+' '+py31
				  +','+x+' '+y+','+px31+" "+py40
				  +','+x+' '+y+","+px10+' '+py41
				  +','+x+' '+y+','+px41+" "+py10

			return star = { x, y, o, cood }; 
		}))};
</script>
<svg id="MoonBottom" viewBox="0 0 { vbx.w } { vbx.h }" >
	<defs>
		<radialGradient id="Craters">
			<stop offset="35%" stop-color='var( --main )'/>
			<stop offset="100%" stop-color='var( --alternative )'/>
		</radialGradient>
	</defs>
	<rect
       id="Bg1"
	   x='0'
	   y='0'
	   height={ vbx.h }
	   width={ vbx.w }
       opacity="0.69"
	   fill='var( --shadow )' 
	   										/>
    <g id='stars'>
		{ #each stars as row }
			{ #each row as star } 
				<polyline 
					points="{  star.cood }"
					opacity="{ star.o }"
					fill="none" 
					stroke='var( --alternative )' 
					stroke-width="0.027"
												/>
			{ /each } 	
		{ /each }   
	</g>
	<g id="Right" >
		<path
			id="MoonRight"
			d="m 92.35,54.81 -3e-6,-7.33 c -0.63,-0.17 -1.23,-0.45 -2,-0.7 0,0 -2.37,0.45 -8.70,-1.31 -2.87,-0.95 -3.2,-0.7 -6.26,-1.21 -2.29,-0.38 -7.25,-0.52 -8.7,-0.48 -2.05,0.13 -1.95,0.79 -3.53,0.01 -0.23,-0.24 -2.68,-0.9 -2.96,-1.14 -0.17,-0.16 -0.63,1.15 -3.38,-1.04 0,0 -0.98,0.46 -3.59,-1.32 -1.18,-0.96 -1.44,-0.19 -2.58,-1.23 -1.86,-0.87 -1.56,-0.69 -2.86,-0.85 1.83,0.29 1.34,1.36 1.49,1.98 0.69,0.83 -0.82,2.14 0.62,3.46 0.69,0.63 -0.24,5.09 -2.84,5.7 3.17,0.08 -2.94,5.47 2.33,5.47 z"
			opacity="0.15"
			fill='var( --main )'
			stroke='var( --shadow )'
			stroke-width="0.35" 
								/>
		<path
			id="MoonRightOverlay"
			d="m 92.35,54.81 -3e-6,-7.33 c -0.63,-0.17 -1.23,-0.45 -2,-0.7 0,0 -2.37,0.45 -8.70,-1.31 -2.87,-0.95 -3.2,-0.7 -6.26,-1.21 -2.29,-0.38 -7.25,-0.52 -8.7,-0.48 -2.05,0.13 -1.95,0.79 -3.53,0.01 -0.23,-0.24 -2.68,-0.9 -2.96,-1.14 -0.17,-0.16 -0.63,1.15 -3.38,-1.04 0,0 -0.98,0.46 -3.59,-1.32 -1.18,-0.96 -1.44,-0.19 -2.58,-1.23 -1.86,-0.87 -1.56,-0.69 -2.86,-0.85 1.83,0.29 1.34,1.36 1.49,1.98 0.69,0.83 -0.82,2.14 0.62,3.46 0.69,0.63 -0.24,5.09 -2.84,5.7 3.17,0.08 -2.94,5.47 2.33,5.47 z"
			opacity="0.13"
			fill='var( --alternative )'
			stroke='var( --shadow )'
			stroke-width="0.35" 
								/>
      <path
         id="RightCraterEdge"
         opacity="0.05"
		 fill='var( alternative )'
         d="m 70.541,47.004 c -0.97,0.029 -1.915,0.09 -2.800,0.179 -4.841,0.565 -7.128,2.44 -6.152,5.057 0.349,0.897 0.623,1.777 1.692,2.758 l 3.403,-0.078 c -0.116,-0.592 -0.132,-1.177 -0.217,-1.745 0.234,-3.367 8.0239,-3.744 14.359,-3.228 2.550,0.405 8.195,1.844 11.571,2.730 l 0.15,-1.015 C 91.248,51.13 90.016,50.664 88.855,50.256 85.832,49.22 82.636,48.38 79.501,47.822 76.283,47.245 73.217,46.966 70.541,47.004 Z"
         				 />
      <path
         id="RightCrater"
         opacity="0.85"
		 fill='var( --shadow )'
         d="m 70.686,46.682 c -7.0746,0.108 -10.789,2.382 -9.612,5.882 0.271,0.771 0.774,1.584 1.496,2.419 L 92.519,54.956 V 51.155 C 88.761,49.636 84.679,48.462 80.639,47.671 77.061,46.975 73.651,46.636 70.686,46.682 Z"
         inkscape:connector-curvature="0" />
    </g>

	<g id="Left">
      	<path
			id="MoonLeftLight"
   	      	opacity="0.50"
			fill='var( --alternative )'
			stroke="#414141"
			stroke-width="0.25"
         	d="m 49.486618,54.868024 c -4.936001,-0.833478 0.527838,-4.554249 -2.179983,-5.524282 2.360662,-0.506328 2.881871,-4.171118 2.909969,-5.004913 0.0188,-0.838987 -0.709985,-1.180239 -0.849209,-1.89337 -0.139227,-0.71313 0.351055,-1.604796 -0.0342,-2.255261 -0.02474,-1.94506 -0.970645,-1.905235 -1.947028,-1.961009 -0.05639,0 -0.124458,0 -0.203508,-0.0099 v 0.0054 c -0.764368,0 -2.514911,0.142753 -3.365253,0.492554 -1.255279,0.517323 -1.390523,0.268172 -2.568239,1.226732 -2.597819,1.775755 -3.499135,1.260532 -3.499135,1.260532 -2.729895,2.190144 -3.157497,0.850884 -3.330731,1.009487 -0.140785,0.125715 -0.94638,0.361295 -1.640702,0.593308 -4.001502,0.526929 -7.135752,1.185242 -7.749245,1.379511 -2.386989,0.521283 -2.687737,0.270251 -4.927117,1.236143 -4.939893,1.789425 -6.704909,1.270638 -6.704909,1.270638 -4.6674855,2.249963 -5.7652947,2.149799 -6.0949441,1.932451 -0.7495246,0.458142 -4.731215,1.276759 -5.1788468,1.13718 -0.82048,-0.255842 -1.68596918,0.888444 -2.00077842,1.234481 v 3.870366 z"
         					/>
      <path
         id="LeftCrater"
         d="m 42.369098,42.236114 c -5.987093,-0.201526 -15.423741,5.125589 -24.551082,12.729739 9.613233,-0.07143 19.781845,0.104515 26.358237,0 2.337967,-3.875513 4.712743,-11.253328 -1.807155,-12.729739 z"
         opacity="0.25"
		 fill='var( --shadow )' 
						/>
      <path
         id="LeftCraterInner"
         d="m 41.510696,43.678903 c -5.441577,-0.181727 -14.587912,4.424758 -23.011871,11.291074 9.066827,-0.07344 18.773915,0.09517 24.741513,0 3.424495,-5.408723 3.499476,-9.823116 0.199314,-10.964244 -0.556529,-0.191958 -1.201865,-0.3013 -1.928956,-0.32683 z"
         opacity="0.35"
		 fill='var( --shadow )'
			 			 />
    </g>
	<g id="Inverted" transform="scale( 0.8 ) translate( 15, 10 )">
		<path
			 id="leftWheel"
			fill="#554d61"
			 d="m 28.992487,14.121918 c -0.08377,-0.357796 -0.114024,-0.583568 -0.35223,-0.671977 h 3e-6 c -0.105236,-0.03866 -0.22072,-0.04566 -0.342574,-0.02077 -0.671715,0.137111 -1.312481,1.451079 -1.52097,2.615796 -0.166616,0.934453 0.0082,0.885856 0.375855,1.300948 0.722365,0.16238 1.8446,-1.766236 1.839916,-3.223994 z"
							 />
		<path
			 id="rightWheel"
			 d="M 33.451586,15.564006 C 33.333346,15.216078 33.28123,14.99433 33.03554,14.929559 l 3e-6,-10e-7 c -0.108506,-0.02822 -0.224123,-0.02393 -0.342969,0.01272 -0.655153,0.201925 -1.164804,1.572089 -1.258784,2.75158 -0.07475,0.946243 0.09451,0.880838 0.50086,1.258124 0.734752,0.0912 1.663676,-1.937609 1.516936,-3.387971 z"
			fill="#554d61"
							/>
		<path
			 id="Board"
			  fill='var( --main )'
			 d="m 28.397341,29.500009 c 0.196552,-0.53867 0.383053,-1.116102 0.552739,-1.72262 l 0.568298,-2.031284 c 0.162209,-0.579798 0.297687,-1.14613 0.407512,-1.688897 0.135914,-0.400347 0.265753,-0.818878 0.387001,-1.252265 l 0.568298,-2.031284 c 0.175995,-0.629063 0.321165,-1.242886 0.435457,-1.827213 0.40243,-1.711738 0.611739,-2.690742 0.446624,-3.870542 -0.09931,-0.430551 -0.187474,-0.626989 -0.425741,-0.702641 L 30.25287,13.976804 c -0.230506,-0.07319 -0.956058,0.235541 -1.249116,0.517356 -1.318276,1.936237 -1.458263,2.980707 -2.23339,4.9804 l -0.756903,1.965274 c -0.162223,0.579858 -0.297759,1.146237 -0.407578,1.689048 -0.135897,0.400298 -0.26569,0.818783 -0.386926,1.252107 l -0.568298,2.031286 c -0.162596,0.581196 -0.298383,1.148853 -0.408346,1.69281 l -0.239514,4.086473 c 0.0985,0.445071 0.268669,0.730701 0.511588,0.807829 l 1.164668,0.369789 c 0.214607,0.06814 0.465331,-0.03313 0.73539,-0.274815 z"
							/>
		<path
			 id="LeftShoe"
			 d="m 25.749047,23.841933 c 0.134312,0.321073 0.269909,0.749432 0.298319,1.095527 0.176486,0.264431 0.245439,0.265062 0.174489,0.631875 0.495357,-0.549255 0.87544,0.06895 0.802851,0.545186 0.246622,-0.324324 1.220986,-0.467387 0.968124,-0.843643 -0.417832,-0.464312 -0.8546,-0.858552 -0.953065,-1.427973 -0.129753,-0.405 -0.19317,-0.504884 -0.639335,-0.565894 -0.653014,0.0087 -0.595088,0.29394 -0.651383,0.564922 z"
			 opacity="0.91"
			fill="#56536e" 
							/>
		<path
			 id="LeftArm"
			 d="m 24.598087,28.433771 c -0.472921,0.540728 -0.546572,0.840046 -0.905108,0.885117 -0.182073,0.303226 0.418404,0.452618 0.452199,0.897983 -1.09207,-0.629848 -1.044061,-0.552927 -1.401377,-0.281607 -0.19915,-0.930387 -0.507094,-1.053371 -0.13325,-1.48469 l 1.089681,-0.299393 c 0.701981,-0.69569 0.06838,-0.416932 0.446129,-0.484857 0.428641,-0.0033 0.510849,0.676289 0.451726,0.767447 z"
			 opacity="0.91"
			fill="#534865" 
							/>
		<path
			 id="LeftLegLower"
			 d="m 26.922197,25.705865 c -0.01994,0.05005 0.06323,0.328911 -0.118327,0.516903 l -0.711441,0.686633 c -0.204325,0.226697 -0.401945,0.398545 -0.483836,0.790663 -0.856589,-1.027741 -0.980485,-0.211779 -1.163598,0.116768 -0.191756,-0.458946 0.132532,-0.749851 0.506379,-1.049755 l 0.812796,-0.914548 c 0.674705,-0.464285 0.530828,-0.535108 0.820709,-0.519713 0.161277,0.0202 0.334966,0.208666 0.337318,0.373049 z"
			 opacity="0.91"
			fill="#56536e"
							/>
		<path
			id="LeftLaces"
			opacity="0.91"
			fill="#666997"
			d="m 25.771656,23.937401 c 0.239214,0.664013 0.09685,0.922362 0.430969,1.415834 0.05527,0.08163 -0.120009,0.216725 -0.276945,0.355643 0.964104,-0.12616 0.175903,-1.041333 0.366909,-1.420413 0.120347,-0.0058 0.470545,-0.586085 -0.0977,-0.914067 -0.258244,-0.145462 -0.488231,0.03119 -0.423229,0.563003 z"
         					 />
		<path
			id="LeftThigh"
			opacity="0.91"
			fill="#646792"
			d="m 24.402066,28.11125 c 0.361229,1.282787 0.543735,2.793059 0.712651,2.715324 0.36036,-0.287058 2.084541,2.312217 2.812035,2.314578 0.603438,0.002 0.515839,-1.035831 -1.125978,-2.447343 -0.145459,-1.038278 -0.415028,-2.014504 -1.023828,-2.821112 -0.582269,-1.319653 -1.374283,-0.720561 -1.37488,0.238553 z"
         				 />
		<path
			id="LeftKneePad"
			opacity="0.91"
			fill="#6c78ab"
			d="m 25.910664,26.190577 c -0.277142,0.326885 -0.436499,0.605559 -0.647216,0.63416 -0.106538,0.182953 0.239061,0.323257 0.25967,0.590699 -1.190008,-1.173667 -0.971683,0.573106 -1.073254,0.427702 -0.130076,-0.32311 -0.106073,-0.580595 0.113002,-0.841321 l 0.662948,-0.691672 c 0.411552,-0.420956 0.402176,-0.377064 0.624151,-0.419475 0.251999,-0.0038 0.09531,0.24489 0.0607,0.299907 z"
         				/>
		<path
			id="RightShoe"
			d="m 26.852676,20.644114 c -0.47536,0.505845 -0.141326,0.878524 0.372066,1.523506 0.189617,0.33656 0.445059,0.679598 0.368827,1.146464 1.794476,-0.768836 1.118723,1.061643 1.341273,0.820682 0.421252,-0.442685 0.692154,-0.81961 0.420484,-1.298497 l -1.02398,-1.817483 c -0.503155,-0.428131 -0.799263,-0.687194 -1.47867,-0.374672 z"
			opacity="0.91"
			fill="#56536e"
							 />

		<path
			 id="RightLegLower"
			 opacity="0.91"
			fill="#575366"
			 d="m 28.202797,22.933401 c -0.04854,0.03628 -0.401994,-0.03481 -0.538705,0.251493 l -0.478678,1.113671 c -0.173669,0.919212 -0.72141,1.720913 -1.076451,2.319097 1.210434,-0.562682 1.622694,0.683161 1.768221,0.321272 0.677927,-1.277027 0.62115,-2.001332 0.828716,-2.47784 0.355058,-0.7129 0.321981,-0.538962 0.06637,-1.114625 -0.09196,-0.223522 -0.381062,-0.436809 -0.56947,-0.413068 z"
         					/>

		<path
			id="RightThighShade"
			d="m 25.87056,26.614225 c -0.0077,0.08994 -0.420675,0.411269 -0.246504,0.847748 l 0.728178,1.638914 c 0.182206,0.512823 0.401714,0.941108 0.19973,1.576922 1.158131,-0.246617 1.245682,2.897089 1.648094,2.593753 0.360363,-0.287058 1.385974,2.283109 2.113468,2.285469 0.603438,0.002 1.287232,-2.127401 0.06741,-3.960905 L 28.018184,28.483945 C 26.83671,26.876293 28.283305,27.004083 27.740898,26.90283 27.455467,26.421349 26.096102,26.168611 25.87056,26.614225 Z"
			opacity="0.91"
			fill="#636696"
						/>

		<path
			id="RightThigh"
			opacity="0.91"
			fill="#544d68"
			d="m 25.87056,26.614225 c -0.0077,0.08994 -0.420675,0.411269 -0.246504,0.847748 l 0.728178,1.638914 c 0.182206,0.512823 0.401714,0.941108 0.19973,1.576922 1.158131,-0.246617 1.245682,2.897089 1.648094,2.593753 -0.574255,0.307696 0.769933,2.675134 2.113468,2.285469 0.579556,-0.168087 -0.779364,-1.865437 -0.456517,-3.43698 0.380485,-1.296963 -2.605869,-2.457588 -2.323391,-3.560391 -1.181474,-1.607653 0.09154,-0.756204 -0.450872,-0.978673 -0.67749,-0.62685 -0.986644,-1.412376 -1.212186,-0.966762 z"
					/>
		<path
			id="RightShin"
			d="m 27.961762,22.978176 c -0.04854,0.03628 -0.233528,0.07491 -0.370239,0.361211 -0.295641,0.602192 -0.631386,1.246957 -0.670451,1.920098 0.275525,0.278031 0.399861,0.173232 0.283473,0.729888 -0.06897,0.329874 0.34161,0.615403 0.413345,0.466299 0.824752,-1.03385 0.361278,-1.328228 0.453125,-2.069341 0.240902,-1.025415 0.848092,-0.626815 0.706634,-1.032015 -0.183288,-0.403455 -0.627482,-0.399881 -0.815887,-0.37614 z"
			opacity="0.91"
			fill="#666997" 
							/>
		<path
			id="RightLaces"
			d="m 26.579751,21.35456 c 0.242653,0.672783 0.251952,0.267364 0.590869,0.767354 0.05606,0.08271 0.25698,0.29172 0.341916,0.601186 0.98075,0.232428 -0.488292,-0.767084 -0.197892,-1.256562 0.122076,-0.0059 0.523998,-0.549491 -0.05242,-0.881804 -0.261955,-0.147383 -0.748412,0.230991 -0.682477,0.769826 z"
			opacity="0.91"
			fill="#666997"	
							/>
		<path
			id="RightKneePad"
			d="m 26.972096,26.014891 c -0.519556,0.339494 -0.357647,0.522049 -0.595112,0.575613 -0.105769,0.237338 0.40058,0.509934 0.446733,0.841908 -1.796565,-1.506015 -0.865641,0.632119 -0.993616,0.459298 -0.175505,-0.392149 -0.336577,-0.719866 -0.109291,-1.063802 l 0.581891,-0.767824 c 0.43282,-0.560207 0.285676,-0.345791 0.534783,-0.417549 0.28657,-0.02611 0.169343,0.300766 0.134612,0.372356 z"
			opacity="0.91"
			fill="#6c78ab"
							/>
		<path
			id="neck"
			d="m 22.673025,29.21405 c 0.523752,0.0183 -0.04198,0.728724 0.189196,1.018746 0.340905,0.427699 -1.131237,1.972936 -2.006795,1.967524 -0.524061,-0.0032 -0.03721,-0.422037 -0.225618,-0.741499 -0.215418,-0.365261 -0.517888,-0.952552 -0.132797,-0.825137 1.084315,0.358767 1.639162,0.295993 1.91497,0.0616 0.518676,-0.440808 0.0505,-1.488587 0.261044,-1.481231 z"
			opacity="0.91"
			fill="#575270"
							/>
		<path
			id="Chest"
			d="m 25.61263,31.147514 c -0.02323,0.243736 0.07186,0.104385 0.86903,0.778666 0.879209,0.743667 2.273247,1.572224 2.257077,1.844041 -0.04325,0.727052 0.90604,1.122085 1.619929,1.643805 0.712417,0.520641 -1.957057,1.431674 -4.357303,1.335864 -2.403972,-0.09596 -4.432467,-1.40376 -4.589735,-1.918788 l -0.864432,-2.830913 c 0.189819,0.621635 2.876731,-0.843108 2.225056,-2.120703 -0.431847,-0.846629 2.893149,0.714388 2.840378,1.268028 z"
			opacity="0.91"
			fill="#6e7dab"
			  			/>

        <path
			id="RightHand"
			d="m 36.251079,40.845659 c 1.383431,0.02678 -0.431628,0.8706 -0.43222,0.915538 -0.0067,0.508116 -0.401924,-0.565689 0.288146,2.779239 0.104783,0.507914 -0.145513,1.244845 -0.658616,1.244845 -0.513102,0 -0.100525,-0.658452 -0.288146,-1.141935 -0.326039,-0.84019 -1.055842,-1.835674 -0.740942,-2.429352 0.243014,-0.458147 1.31877,-1.378266 1.831778,-1.368335 z"
			fill="#534966"
						/>
		<path
			id="RightForeArm"
			d="m 30.463867,38.27839 c 1.635509,0.659655 2.86358,2.593829 4.588826,3.132955 -0.536584,0.793792 -0.77182,0.870569 -0.639439,1.424237 -1.800767,-1.380135 -3.000798,-1.232824 -5.093581,-3.152478 -0.39684,-0.364011 -0.222386,-1.433248 1.144194,-1.404714 z"
			fill="#554e6b"
			   			/>
        <path
			id="RightBicep"
			fill="#554f6c"
			d="m 25.483086,34.100295 c 1.191681,0.480646 3.127881,2.730046 4.192141,3.410362 0.446944,0.285704 0.721693,0.583037 0.787734,0.751679 -0.536583,0.793794 -1.409853,0.747078 -1.277471,1.300747 -0.681398,-0.522235 -0.0968,-0.629485 -1.042232,-0.932898 -1.520644,-0.488009 -3.851684,-2.412113 -4.442406,-2.466561 -0.991565,-0.09139 -1.251866,-2.412382 -1.044301,-3.02595 0.356987,-1.055253 3.433837,-1.937325 2.826535,0.962621 z"
         				/>
		<path
			 id="Hair"
			 d="m 20.207635,30.69511 c 0.577756,0.426869 -0.647955,0.941542 -0.692584,1.478194 -0.04484,0.539173 0.370646,0.913804 0.262281,1.01532 -0.154543,0.144771 -0.575331,-0.147522 -0.697793,-0.68526 0.219236,0.812308 0.244391,1.163168 0.01633,1.464722 -0.0957,0.126541 -0.02182,-0.483212 -0.333183,-0.747133 -0.34582,-0.293133 -0.387676,0.76141 -0.261046,0.641032 0.633715,0.743765 0.374859,0.594918 -0.711863,-0.346747 -0.22084,-0.191361 -0.19366,0.526274 -0.039,0.755332 0.188244,0.278801 -0.506437,-0.589002 -0.566789,-0.868427 -0.07833,-0.36266 -0.323121,1.024639 -0.329474,0.70083 -0.0078,-0.399466 -0.257786,-0.360285 -0.55886,-0.360929 -0.831164,-0.0017 -1.017723,-1.429645 -0.698724,-1.597528 0.687154,-0.361641 -0.23319,-0.14564 -0.07415,-0.657799 0.210338,-0.144743 0.523454,-0.109623 0.443884,-0.761708 0.512176,-0.680624 0.657426,-0.306342 0.875259,-0.140731 0.07193,0.05468 0.342508,0.255148 0.360341,0.09326 0.16575,-1.504607 2.309527,-0.49654 3.005358,0.01758 z"
			 fill='var( --focal )'
								/>
		<path
			 id="face"
			 fill="#554e6b"
			 d="m 22.445289,30.885902 c -0.152671,0.147421 -1.52513,-0.0809 -1.854511,-0.161701 -0.742533,-0.182142 -1.035508,-0.140563 -1.569846,-0.204108 -0.535518,-0.06368 -0.05396,-1.00921 -0.05396,-1.239569 0,-0.875258 1.456113,-3.346594 2.351317,-3.041961 0.280091,0.09531 0.824308,1.051201 0.972638,1.632111 0.229998,0.900779 0.761985,2.428509 0.154362,3.015228 z"
							 />

      	<path
			id="faceBright"
			d="m 22.360417,30.735018 c -0.0514,0.307064 -0.548229,-4.547174 -2.48657,-2.894826 0,-0.875258 0.549238,-1.906262 1.444442,-1.601629 0.280091,0.09531 0.739439,0.900317 0.887766,1.481227 0.230001,0.900779 0.761984,2.428509 0.154362,3.015228 z"
			fill="#605e8d"
							/>
      	<path
			id="helmet"
			d="m 21.761521,26.026795 c 0.03945,0.208532 -0.354317,0.104437 -0.532171,0.393209 -0.799595,1.298239 -2.342814,2.373319 -2.282868,3.381037 0.03203,0.538344 0.122788,1.185959 -0.107571,1.185959 -0.875258,-3e-6 -1.790613,-1.108533 -1.790613,-2.552141 0,-1.443608 1.330417,-2.938829 2.191957,-3.200462 0.994633,-0.302049 2.382656,0.05972 2.521266,0.792398 z"
			fill='var( --main )'	
							/>
    </g>
</svg>
<style>
	svg {
		max-height: 75%; 
		box-shadow:.3vh .3vh .6vh var( --shadow );
	}
</style>
