<script>
	import { onMount } from "svelte";
	import { frame } from '../../_stores/props.js';

	let vp = {
		w: 92,
		h: 55
	};
	
	let mark;

	onMount(()=>{ mark = $frame	} )

	const Grid = ( b, e ) => Array.from(
		{ length: ( e - b ) }, 
		( r, ir ) => Array.from(
			{ length: ( e - b ) }, 
			( c, ic ) => {
				return {};	
			}
		)
	);

	const starMap = Grid( 0, 7 ).map(( row, i )=> row.map(( col, star ) => { 
		let x = Math.floor( Math.random()*(( vp.w/10 )*( star-(star-10)+1 )+( star-10 )));
		let y = Math.floor( Math.random()*(( vp.h/5 )*( i-( i-5 )+1 )+( i-5 )));
		return { x, y };
	})); 
	
	let stars = starMap.map( row => row.map( star => {
		let x = star.x;
		let y = star.y;
		let o = Math.random()*(0.9-0.6)+0.6;
		let cood = x+' '+y+","+(x+1)+' '+(y+1);
		return { x, y, o, cood };
	}));

	let thruster = { left:{ sk:-25,tr:9 }, right:{ sk:-23, tr:8 }};
	let shipPath = 0;

	$:	if(( $frame-mark ) < 420 ){
		shipPath += 0.2;
	}

	$: 	if( $frame%23 == true ){ stars = stars.map( row => row.map( star => {

			thruster = { left:{ ...thruster.right }, right:{ ...thruster.left }};
			
			let x = star.x;
			let y = star.y;
			let r1 = Math.floor( Math.random()*3 );
			let r2 = Math.floor( Math.random()*2 );
			let r3 = Math.floor( Math.random()*3 );
			let r4 = Math.floor( Math.random()*2 );
			let px10 = x-r1;
			let px20 = x-r2;
			let px30 = x-r3;
			let px40 = x-r4;
			let px11 = x+r1;
			let px21 = x+r2;
			let px31 = x+r3;
			let px41 = x+r4;

			let py10 = y-r1;
			let py20 = y-r2;
			let py30 = y-r3;
			let py40 = y-r4;
			let py11 = y+r1;
			let py21 = y+r2;
			let py31 = y+r3;
			let py41 = y+r4;

			let o = Math.random()*(0.9-0.6)+0.6;
			let cood = x+' '+y+","+x+' '+py10+','+x+" "+py21
				  +','+x+' '+y+","+px20+' '+y+','+px41+" "+y 

				  +','+x+' '+y+","+px10+' '+py20 
				  +','+x+' '+y+","+px21+" "+py11
				  +','+x+' '+y+","+px20+' '+py30
			 	  +','+x+' '+y+','+px31+" "+py21 
				  +','+x+' '+y+","+px30+' '+py40
				  +','+x+' '+y+','+px41+" "+py31 
				  +','+x+' '+y+","+px40+' '+py10 
				  +','+x+' '+y+','+px11+" "+py41

			  	  +','+x+' '+y+","+px20+' '+py11
				  +','+x+' '+y+','+px11+" "+py20
				  +','+x+' '+y+","+px30+' '+py21
				  +','+x+' '+y+','+px21+" "+py30 
				  +','+x+' '+y+","+px40+' '+py31
				  +','+x+' '+y+','+px31+" "+py40
				  +','+x+' '+y+","+px10+' '+py41
				  +','+x+' '+y+','+px41+" "+py10

			return star = { x, y, o, cood }; 
		}))};
</script>
<svg id="MoonCenter" viewBox="0 0 { vp.w } { vp.h }">
	<rect
       id="Bg1"
	   x='0'
	   y='0'
	   height={ vp.h }
	   width={ vp.w }
       opacity="0.69"
	   fill="var( --shadow )" 
	   										/>
	<g id='stars'>
		{ #each stars as row }
			{ #each row as star } 
				<polyline 
					points="{  star.cood }"
					opacity="{ star.o }" 
					fill="none" 
					stroke="var( --alternative )"
					stroke-width="0.027"
												/>
			{ /each } 	
		{ /each }   
	</g>
	<g id="g1118" transform="translate( 9 )">
		<circle
			id="planetFill"
			fill="var( --shadow )"
			opacity="0.85"
			cx="32.76"
			cy="-11.2"
			r="12.09"
			transform="rotate(70)"
									 />

		<circle
			id="planet"
			fill="var( --main )"
			opacity="0.60"
			cx="32.76"
			cy="-11.2"
			r="12.09"
			transform="rotate(70)"
									 />
		<path
			id="planetLght"
			d="M 22.5,38.93 C 21.6,39.52 17.35,38.79 14.82,36.85 8.17,31.74 8.86,24.5 11.85,20.01 c 1.37,-2.057 3.43,-3.69 5.56,-4.45 3.48,-1.23 6.02,-1 2.6,0.67 -12.07,5.88 14.92,14.89 2.52,22.71 z"
			fill="var( --alternative )"
								/>
	</g>
	<g transform="translate({ shipPath },-{ shipPath/2 })">
		<ellipse
			id="flameOutrRgt"
			rx="7"
			ry="13"
			cx="82"
			cy="23"
			transform="skewX({ thruster.right.sk }) translate({ thruster.right.tr })"
			opacity="0.85"
			fill="#5b0531"
								 />
		<ellipse
			id="flameInnrRgt"
			opacity="0.85"
			fill="#7d1548"
			rx="3"
			ry="9"
			cx="82"
			cy="23"
			transform="skewX({ thruster.right.sk }) translate({ thruster.right.tr })"
								 />
		<ellipse
			id="thrusterRgt"
			fill="var( --shadow )"
			rx="8"
			ry="3"
			cx="82"
			cy="22"
			transform="skewY(15) translate(0, -21)"
							/>
		<ellipse
			id="flameOutrLft"
			opacity="0.85"
			fill="#5b0531"
			rx="7"
			ry="13"
			cx="63"
			cy="18"
			transform="skewX({ thruster.left.sk }) translate({ thruster.left.tr })"
								 />
		<ellipse
			id="flameInnrLft"
			rx="3"
			ry="9"
			cx="63"
			cy="18"
			transform="skewX({ thruster.left.sk }) translate({ thruster.left.tr })"
			opacity="0.85"
			fill="#7d1548"
								 />
		<ellipse
			id="thrusterLft"
			fill="var( --shadow )"
			cx="64"
			cy="21"
			rx="8"
			ry="3"
			transform="skewY(15) translate(0, -21)"
			 					/>
		<polygon
			id="ship"
			points="40,23 45,16 65,0 92,0 92,23 40,23"
			fill="var( --alternative )"
			transform="skewY(18) translate(0, -28)"
								/>

		<path
			id="shipInnr"
			opacity="0.45"
			fill="var( --main )"
			d="M 64.4,-0.19 61.05,2.09 c -14.21,9.67 0.73,2.87 3.159,1.68 13.31,-6.48 10.90,-0.12 10.88,4.6 l 17.47,6.13 0.03,-14.72 z"
								/>
	</g>
</svg>
<style>
	svg {
		max-height: 75%; 
		box-shadow:.3vh .3vh .6vh var( --shadow );
	}
</style>
