<script>
	import { onMount } from "svelte";
	import { frame } from '../../_stores/props.js'

	let vbx = {
		w: 92,
		h: 55
	};

	const drawWings = (beg, end, bx, by ) => Array.from(
		{ length: ( end - beg ) }, 
		( _, row ) => Array.from(
			{ length: ( end - beg ) }, 
			( _, col ) => {
				let x = col*2.87+bx;
				let y = row*1.43+by;
				return { x, y, h:1.42, w:2.86 }
			})
	);

	let panelsLeft = drawWings( 0, 6, -8.60, 34.44 );
	let panelsRight = drawWings( 0, 6, 11.71, 34.52 );

	const Grid = ( beg, end ) => Array.from(
		{ length: ( end - beg ) }, 
		row => Array.from(
			{ length: ( end - beg ) }, 
			col => {
				return {};	
			}
		)
	);

	const starMap = Grid( 0, 7 ).map(( row, i )=> row.map(( col, star ) => { 
		let x = Math.floor( Math.random()*(( vbx.w/10 )*( star-(star-10)+1 )+( star-10 )));
		let y = Math.floor( Math.random()*(( vbx.h/5 )*( i-( i-5 )+1 )+( i-5 )));
		return { x, y };
	})); 
	
	let stars = starMap.map( row => row.map( star => {
		let x = star.x;
		let y = star.y;
		let o = Math.random()*(0.9-0.6)+0.6;
		let cood = x+' '+y+","+(x+1)+' '+(y+1);
		return { x, y, o, cood };
	}));

	$: 	if( $frame%26 == true ){ stars = stars.map( row => row.map( star => {
			let x = star.x;
			let y = star.y;
			let r1 = Math.floor( Math.random()*3 );
			let r2 = Math.floor( Math.random()*2 );
			let r3 = Math.floor( Math.random()*3 );
			let r4 = Math.floor( Math.random()*2 );
			let px10 = x-r1;
			let px20 = x-r2;
			let px30 = x-r3;
			let px40 = x-r4;
			let px11 = x+r1;
			let px21 = x+r2;
			let px31 = x+r3;
			let px41 = x+r4;

			let py10 = y-r1;
			let py20 = y-r2;
			let py30 = y-r3;
			let py40 = y-r4;
			let py11 = y+r1;
			let py21 = y+r2;
			let py31 = y+r3;
			let py41 = y+r4;

			let o = Math.random()*(0.9-0.6)+0.6;
			let cood = x+' '+y+","+x+' '+py10+','+x+" "+py21
				  +','+x+' '+y+","+px20+' '+y+','+px41+" "+y 

				  +','+x+' '+y+","+px10+' '+py20 
				  +','+x+' '+y+","+px21+" "+py11
				  +','+x+' '+y+","+px20+' '+py30
			 	  +','+x+' '+y+','+px31+" "+py21 
				  +','+x+' '+y+","+px30+' '+py40
				  +','+x+' '+y+','+px41+" "+py31 
				  +','+x+' '+y+","+px40+' '+py10 
				  +','+x+' '+y+','+px11+" "+py41

			  	  +','+x+' '+y+","+px20+' '+py11
				  +','+x+' '+y+','+px11+" "+py20
				  +','+x+' '+y+","+px30+' '+py21
				  +','+x+' '+y+','+px21+" "+py30 
				  +','+x+' '+y+","+px40+' '+py31
				  +','+x+' '+y+','+px31+" "+py40
				  +','+x+' '+y+","+px10+' '+py41
				  +','+x+' '+y+','+px41+" "+py10

			return star = { x, y, o, cood }; 
		}))};
</script>
<svg id="MoonTop" viewBox="0 0 { vbx.w } { vbx.h }" >
	<rect
       	id="Bg1"
	   	x='0'
	   	y='0'
	   	height='{ vbx.h }'
	   	width='{ vbx.w }'
       	opacity='0.69'
		fill="var( --shadow )" 
	   			/>
	<g id='stars'>
		{ #each stars as row }
			{ #each row as star }
				<polyline 
					points="{ star.cood }"
					opacity="{ star.o }"
					fill="none"
					stroke='var( --alternative )' 	
					stroke-width="0.027"
											/>
			{ /each }
		{ /each }
	</g>
	<g id="Satellite">
		<g transform="rotate(-29.146)">
			<rect
			   id="wingLeft"
			   fill='var( --alternative )'
			   width="17.23"
			   height="8.61"
			   x="-8.60"
			   y="34.44"
			   rx="0.09"
			   ry="0.09"
									/>
	 		{ #each panelsLeft as row }
				{ #each row as panel }
					<rect
						fill='var( --shadow )'
						width="{ panel.w }"
					   	height="{ panel.h }"
					   	x="{ panel.x }"
					   	y="{ panel.y }"
					   	rx="0.01"
					   	ry="0.01"
				   						/>
				{ /each }
			{ /each }
		</g>
		<path
		   	id="Base"
			fill='var( --alternative )'	
			stroke='var( --main )'
			stoke-opacity="0.69"
			d="m 14.252766,13.278777 c 1.55021,-2.8043 4.133385,-3.8166999 7.189231,-4.0091999 0.07438,0 0.146853,-0.013 0.183335,0.052 l 7.055882,12.6525999 c 0.03668,0.066 -0.004,0.1261 -0.052,0.1833 -2.033575,2.4235 -4.43272,3.7576 -7.189231,4.0093 -0.0748,0.01 -0.146854,0.013 -0.183336,-0.052 l -7.055881,-12.6526 c -0.03668,-0.066 0.01561,-0.1183 0.052,-0.1834 z"
		   				 />
		<path
		   	id="Center"
			fill='var( --secondary )'	
			d="m 22.511706,25.190377 c 0.967785,-1.7472 2.375524,-2.9025 4.807365,-2.6808 0.04815,0 0.106638,0.01 0.142232,0.07 l 6.832059,12.2512 c 0.03496,0.063 0.02843,0.1335 -0.01502,0.158 l -4.807367,2.6808 c -0.04521,0.021 -0.106637,-0.01 -0.142231,-0.07 l -6.831981,-12.2511 c -0.03532,-0.063 -0.0087,-0.1157 0.01502,-0.158 z"
		   						/>
		<g transform="rotate(-29.146)" >
			<rect
			   	id="wingRight"
				fill='var( --alternative )'	
				width="17.24"
			   	height="8.62"
			   	x="11.71"
			   	y="34.52"
			   	rx="0.1"
			   	ry="0.1"
										/>
			{ #each panelsRight as row }
				{ #each row as panel }
					<rect
						fill='var( --shadow )'
						width="{ panel.w }"
					   	height="{ panel.h }"
					   	x="{ panel.x }"
					   	y="{ panel.y }"
					   	rx="0.01"
					   	ry="0.01"
											/>
				{ /each }
			{ /each }
		</g>
		<ellipse
		   	id="dishBack"
			fill='var( --shadow )'
		   	cx="10.54"
		   	cy="48.64"
		   	rx="10.13"
		   	ry="2.855"
		   	transform="rotate(-29.146797)" />
		<ellipse
		   	id="dishFront"
		   	ry="2.69"
		   	rx="10.38"
		   	cy="49.13"
		   	cx="10.65"
			fill='var( --alternative )'
		   	transform="rotate(-29.146797)" 
							/>
		<rect
			id="antennaFill"
			fill='var( --shadow )'
		   	width="1.5"
		   	height="8.57"
			opacity="0.85"
		   	x="9.5"
		   	y="49"
		   	rx="0.9"
		   	ry="0.9"
		   	transform="rotate(-29.146797)" />

		<rect
			id="antenna"
			fill='var( --main )'
			stroke='var( --alternative )'
			stroke-width="0.1"
		   	width="1.5"
		   	height="8.57"
			opacity="0.65"
		   	x="9.5"
		   	y="49"
		   	rx="0.9"
		   	ry="0.9"
		   	transform="rotate(-29.146797)" />
	</g>
</svg>
<style>
	svg {
		max-height: 75%;
		box-shadow:.3vh .3vh .6vh var( --shadow );
	}
</style>
