<script>
	import { frame } from '../../_stores/props.js'
	import { Colors } from '../../_stores/theme.js';

	let vbx = {
		w: 290,
		h: 522 
	};

	const Grid = ( b, e ) => Array.from(
		{ length: ( e - b ) }, 
		( r, ir ) => Array.from(
			{ length: ( e - b ) }, 
			( c, ic ) => {
				return {};	
			}
		)
	);

	const starMap = Grid( 0, 7 ).map(( row, i )=> row.map(( col, star ) => { 
		let x = Math.floor( Math.random()*(( vbx.w/5+10 )*( star-( star-5 )+1 )+( star-5 )));
		let y = Math.floor( Math.random()*((( vbx.h-150 )/10 )*( i-( i-10 )+1 )+( i-10 )));
		return { x, y };
	})); 

	let stars = starMap.map( row => row.map( star => {
		let x = star.x;
		let y = star.y;
		let o = Math.random()*0.5+0.3;
		let cood = x+' '+y+","+(x+1)+' '+(y+1);
		return { x, y, o, cood };
	}));

	$: 	if( $frame%13 == true ){ stars = stars.map( row => row.map( star => {
			let x = star.x;
			let y = star.y;
			let r1 = Math.floor( Math.random()*5+6 );
			let r2 = Math.floor( Math.random()*3+4 );
			let r3 = Math.floor( Math.random()*5+6 );
			let r4 = Math.floor( Math.random()*3+4 );
			let px10 = x-r1;
			let px20 = x-r2;
			let px30 = x-r3;
			let px40 = x-r4;
			let px11 = x+r1;
			let px21 = x+r2;
			let px31 = x+r3;
			let px41 = x+r4;

			let py10 = y-r1;
			let py20 = y-r2;
			let py30 = y-r3;
			let py40 = y-r4;
			let py11 = y+r1;
			let py21 = y+r2;
			let py31 = y+r3;
			let py41 = y+r4;

			let o = Math.random()*0.3+0.6;
			let cood = x+' '+y+","+x+' '+py10+','+x+" "+py21
				  +','+x+' '+y+","+px20+' '+y+','+px41+" "+y 

				  +','+x+' '+y+","+px10+' '+py20 
				  +','+x+' '+y+","+px21+" "+py11
				  +','+x+' '+y+","+px20+' '+py30
			 	  +','+x+' '+y+','+px31+" "+py21 
				  +','+x+' '+y+","+px30+' '+py40
				  +','+x+' '+y+','+px41+" "+py31 
				  +','+x+' '+y+","+px40+' '+py10 
				  +','+x+' '+y+','+px11+" "+py41

			  	  +','+x+' '+y+","+px20+' '+py11
				  +','+x+' '+y+','+px11+" "+py20
				  +','+x+' '+y+","+px30+' '+py21
				  +','+x+' '+y+','+px21+" "+py30 
				  +','+x+' '+y+","+px40+' '+py31
				  +','+x+' '+y+','+px31+" "+py40
				  +','+x+' '+y+","+px10+' '+py41
				  +','+x+' '+y+','+px41+" "+py10;

			return star = { x, y, o, cood }; 
		}))};
</script>
<svg viewBox="0 0 { vbx.w } { vbx.h }">
	<path
		id="bg1"
		d="M 0,522 H 290 V 0 H 0 Z"
		opacity="0.69"
		fill="{ $Colors.shadow }" 
							 />
	<g id='stars'>
		{ #each stars as row }
			{ #each row as star } 
				<polyline 
					points="{  star.cood }"
					style="opacity:{ star.o }; 
							fill:none; 
							stroke:#6b6d92; 
							stroke-width:0.69;"
												/>
			{ /each } 	
		{ /each }   
	</g>
	<g transform="scale(1.13) translate(-20)">
		<circle
			id="planetFill"
			opacity="0.91"
			fill="{ $Colors.shadow }"
			cx="175.48729"
			cy="-149.1712"
			r="48.000088"
			transform="rotate(70)"
								 />
		<circle
			id="planet"
			opacity="0.91"
			fill="{ $Colors.main }"
			cx="175.48729"
			cy="-149.1712"
			r="48.000088"
			transform="rotate(70)"
			 />
		<path
			id="planetLght"
			d="m 203.269,161.47835 c -3.68871,2.32422 -20.56397,-0.56335 -30.60546,-8.27442 -26.42546,-20.29272 -23.68857,-49.01496 -11.78764,-66.851123 5.44731,-8.163964 13.61381,-14.658574 22.0797,-17.653425 13.8214,-4.889324 23.91195,-3.978803 10.32267,2.642071 -47.90193,23.338404 59.2228,59.115987 9.99073,90.136897 z"
			opacity="0.91"
			fill="{ $Colors.alternative }"
								 />
	</g>
	<g id="moonRight">
		<path
			id="path849"
			d="m 289.40245,521.40223 -10e-6,-22.97259 c -1.96385,-0.51808 -3.86944,-1.41756 -6.27076,-2.20012 0,0 -7.43968,1.41772 -27.2824,-4.09118 -8.99507,-2.97313 -10.02757,-2.20058 -19.61579,-3.80513 -7.16643,-1.19751 -22.70577,-1.61822 -27.25846,-1.51236 -6.42996,0.3997 -6.11837,2.4962 -11.06858,0.047 -0.72427,-0.76315 -8.41578,-2.82026 -9.27432,-3.58432 -0.54587,-0.49715 -1.98402,3.61132 -10.58007,-3.25675 0,0 -3.06728,1.43319 -11.24792,-4.13576 -3.70865,-3.0056 -4.50853,-0.59071 -8.08737,-3.84669 -5.82566,-2.73908 -4.88173,-2.14671 -8.95098,-2.65272 5.72286,0.896 4.18425,4.26357 4.66427,6.18991 2.17227,2.612 -2.57588,6.71393 1.93975,10.83999 2.15729,1.97118 -0.74862,15.94398 -8.89119,17.85477 9.93164,0.24855 -9.20544,17.12595 7.29261,17.12595 z"
			opacity="0.15"
			fill="{ $Colors.main }"
			stroke="{ $Colors.shadow }"
			stroke-width="0.35"
						  	 />
		<path
			id="path849"
			d="m 289.40245,521.40223 -10e-6,-22.97259 c -1.96385,-0.51808 -3.86944,-1.41756 -6.27076,-2.20012 0,0 -7.43968,1.41772 -27.2824,-4.09118 -8.99507,-2.97313 -10.02757,-2.20058 -19.61579,-3.80513 -7.16643,-1.19751 -22.70577,-1.61822 -27.25846,-1.51236 -6.42996,0.3997 -6.11837,2.4962 -11.06858,0.047 -0.72427,-0.76315 -8.41578,-2.82026 -9.27432,-3.58432 -0.54587,-0.49715 -1.98402,3.61132 -10.58007,-3.25675 0,0 -3.06728,1.43319 -11.24792,-4.13576 -3.70865,-3.0056 -4.50853,-0.59071 -8.08737,-3.84669 -5.82566,-2.73908 -4.88173,-2.14671 -8.95098,-2.65272 5.72286,0.896 4.18425,4.26357 4.66427,6.18991 2.17227,2.612 -2.57588,6.71393 1.93975,10.83999 2.15729,1.97118 -0.74862,15.94398 -8.89119,17.85477 9.93164,0.24855 -9.20544,17.12595 7.29261,17.12595 z"
			opacity="0.13"
			fill="{ $Colors.alternative }"
			stroke="{ $Colors.shadow }"
			stroke-width="0.35"
						  	 />
		<path
			id="rightCraterEdge"
			d="m 221.04288,496.9457 c -3.05463,0.0909 -6.00255,0.28387 -8.77663,0.56255 -15.17241,1.77122 -22.33638,7.65963 -19.28033,15.8474 1.09443,2.81339 1.95342,5.56946 5.30278,8.6443 l 10.66555,-0.24501 c -0.36402,-1.85527 -0.41467,-3.69106 -0.68117,-5.47056 0.73452,-10.55079 25.14303,-11.73474 44.99694,-10.11778 7.99257,1.27021 25.68108,5.78032 36.26041,8.55746 l 0.46942,-3.17922 c -4.07364,-1.66975 -7.93176,-3.12883 -11.5705,-4.4069 -9.47301,-3.24913 -19.48825,-5.85608 -29.31145,-7.62972 -10.08429,-1.80561 -19.69002,-2.68236 -28.07502,-2.56249 z"
			opacity="0.05"
			 fill="{ $Colors.alternative }"
			stroke="{ $Colors.shadow }"
			stroke-width="0.35"
						  	 />
		<path
			id="rightCrater"
			opacity="0.85"
		 	fill="{ $Colors.shadow }"
			d="m 221.49651,495.93639 c -22.16855,0.34102 -33.80759,7.46413 -30.12134,18.4343 0.85084,2.41675 2.42546,4.96357 4.68786,7.58227 l 93.84571,-0.0898 v -11.90978 c -11.77527,-4.75947 -24.56534,-8.43902 -37.22358,-10.91864 -11.21108,-2.1796 -21.89802,-3.24127 -31.18865,-3.09833 z"
							 />
	</g>
	<g id="moonLeft">
		<path
			id="ellipse828"
			d="m 148.12597,469.49103 c -2.39371,0 -7.87557,0.43469 -10.53842,1.49979 -3.93085,1.57545 -4.35426,0.81641 -8.0424,3.73529 -8.13527,5.40717 -11.18533,4.01581 -11.18533,4.01581 -8.54827,6.66899 -9.97839,2.67932 -10.52078,3.16223 -0.44103,0.38299 -2.69087,1.10042 -4.86485,1.80681 -12.53076,1.60475 -22.436436,3.8308 -24.357635,4.42245 -7.475139,1.5871 -8.28007,0.82271 -15.292773,3.76397 -15.46906,5.44878 -21.269484,4.04671 -21.269484,4.04671 -16.466017,9.26287 -18.25563,6.44612 -19.205999,5.94714 -0.833263,1.00333 -13.7880503,4.44262 -17.5375808,3.50707 -4.83778,2.5816 -3.5612747,2.96396 -4.54721477,4.01772 v 12.20464 c 35.75798657,-1e-5 139.90414657,0 154.41997657,0 -14.80963,-1.94938 0.35313,-15.8052 -5.58164,-17.18746 6.72342,-4.88907 7.14971,-10.79743 8.00996,-15.80207 0.0567,-2.55449 -3.52214,-4.30724 -3.0086,-7.00626 1.12206,-5.89724 1.46349,-4.17753 0.25814,-6.15833 -0.0787,-5.92286 -3.03935,-5.80151 -6.09696,-5.97141 h -0.63715 z"
			opacity="0.50"
			stroke="#414141"
			stroke-width="0.25"
			fill="{ $Colors.alternative }"
			/>
		<path
			id="path904"
			d="m 132.76378,482.00449 c -18.76059,-0.63149 -48.330369,16.06105 -76.930935,39.88869 30.123111,-0.22382 61.986505,0.3275 82.593665,0 7.32603,-12.14393 14.7674,-35.26235 -5.66273,-39.88869 z"
			opacity="0.25"
			fill="{ $Colors.shadow }"
							/>
		<path
			id="path904"
			d="m 130.07397,486.52547 c -17.05121,-0.56944 -45.711291,13.865 -72.107807,35.38064 28.410946,-0.23013 58.828157,0.29821 77.527647,0 10.73067,-16.94826 10.96563,-30.78078 0.62455,-34.35651 -1.74388,-0.60151 -3.76605,-0.94413 -6.04439,-1.02413 z"
			opacity="0.35"
			fill="{ $Colors.shadow }"
							/>

	</g>
	<g id="Inverted" transform="scale(1.15, 1.35 ) translate(-30, -123)">		
		<path
			id="leftWheel" 
			opacity="0.91"
			fill="#554d61"
			d="m 107.16217,376.22436 c -0.32142,-1.37292 -0.43751,-2.23925 -1.35157,-2.57849 h 2e-5 c -0.40379,-0.14832 -0.84694,-0.17518 -1.31452,-0.0797 -2.57748,0.52612 -5.036214,5.56803 -5.836214,10.03725 -0.63934,3.58565 0.0313,3.39917 1.442224,4.99195 2.77183,0.62308 7.07804,-6.77734 7.06006,-12.371 z"
							/>
      	<path
			id="rightWheel"
			d="m 124.27249,381.7579 c -0.45368,-1.33506 -0.65369,-2.18595 -1.59644,-2.43448 l 1e-5,-10e-6 c -0.41638,-0.10828 -0.86,-0.0918 -1.31603,0.0487 -2.51393,0.77481 -4.46955,6.03236 -4.83016,10.55827 -0.28686,3.6309 0.36265,3.37992 1.92188,4.82764 2.81936,0.34992 6.3838,-7.43494 5.82074,-13.00022 z"
			opacity="0.91"
			fill="#554d61"
					 />
    	<path
			id="board" 
			opacity="0.91"
			fill="{ $Colors.main }"
			d="m 104.8785,435.23268 c 0.7542,-2.06696 1.46983,-4.28266 2.12095,-6.60998 l 2.18066,-7.79438 c 0.62242,-2.22478 1.14227,-4.39789 1.56369,-6.48058 0.52152,-1.5362 1.01974,-3.14217 1.48498,-4.80515 l 2.18066,-7.79438 c 0.67532,-2.41382 1.23236,-4.76916 1.67092,-7.01132 1.54419,-6.56823 2.34735,-10.32483 1.71377,-14.85192 -0.38106,-1.6521 -0.71936,-2.40587 -1.63364,-2.69616 l -4.16201,-1.52128 c -0.88449,-0.28083 -3.66856,0.90382 -4.79307,1.98518 -5.05845,7.42967 -5.5956,11.43748 -8.569904,19.11064 l -2.90436,7.54109 c -0.62248,2.22501 -1.14255,4.3983 -1.56395,6.48116 -0.52146,1.53601 -1.01949,3.14181 -1.4847,4.80454 l -2.18065,7.79439 c -0.62391,2.23015 -1.14495,4.40834 -1.5669,6.4956 l -0.91905,15.68048 c 0.37798,1.70781 1.03093,2.80382 1.96305,3.09978 l 4.46903,1.41894 c 0.82348,0.26149 1.78555,-0.12714 2.82181,-1.05451 z"
						/>
    	<path
			id="leftShoe" 
			d="m 94.716546,413.52169 c 0.51538,1.23202 1.03569,2.8757 1.1447,4.20373 0.6772,1.01466 0.94179,1.01708 0.66954,2.42461 1.90077,-2.10759 3.35921,0.26457 3.08068,2.09197 0.946324,-1.24449 4.685134,-1.79345 3.714854,-3.2372 -1.60329,-1.78165 -3.27925,-3.29441 -3.657074,-5.47938 -0.49789,-1.55405 -0.74123,-1.93732 -2.45324,-2.17142 -2.50572,0.0333 -2.28345,1.12789 -2.49946,2.16769 z"
			opacity="0.91"
			fill="#56536e"
							/>
      	<path
			id="hair" 
			d="m 73.453216,439.81849 c 2.21694,1.63797 -2.486316,3.61285 -2.657567,5.67208 -0.172052,2.06889 1.422237,3.50642 1.006417,3.89595 -0.593004,0.55551 -2.207639,-0.56607 -2.677547,-2.62946 0.841245,3.11697 0.937767,4.46328 0.06267,5.62039 -0.367234,0.48557 -0.08371,-1.85417 -1.278479,-2.86688 -1.326965,-1.1248 -1.487577,2.92166 -1.001678,2.45975 2.431671,2.85395 1.4384,2.2828 -2.731536,-1.33052 -0.847398,-0.73429 -0.743107,2.01939 -0.149669,2.89833 0.722326,1.0698 -1.943285,-2.2601 -2.174866,-3.3323 -0.300582,-1.39159 -1.239871,3.93171 -1.264248,2.6892 -0.02985,-1.53282 -0.989164,-1.38247 -2.144435,-1.38495 -3.189318,-0.006 -3.905178,-5.48578 -2.681125,-6.12998 2.636726,-1.38768 -0.894791,-0.55884 -0.284515,-2.52408 0.807103,-0.5554 2.008579,-0.42066 1.703257,-2.92281 1.965305,-2.61166 2.522656,-1.17548 3.358515,-0.54 0.276009,0.2098 1.314262,0.97904 1.38269,0.35783 0.636011,-5.77343 8.862046,-1.90531 11.532066,0.0675 z"
			opacity="0.91"
			fill="#610734"
							/>
      	<path
			id="face"
			opacity="0.91"
			fill="#554e6b"
			d="m 82.039466,440.55059 c -0.58582,0.56568 -5.85218,-0.31043 -7.11607,-0.62047 -2.84922,-0.69891 -3.973417,-0.53937 -6.023763,-0.7832 -2.054873,-0.24433 -0.20707,-3.87251 -0.20707,-4.75644 0,-3.35851 5.587353,-12.84144 9.022403,-11.67251 1.07475,0.36574 3.16301,4.03363 3.73217,6.26268 0.88255,3.45644 2.92387,9.3186 0.59232,11.56994 z"
							/>
      	<path
			d="m 98.951356,401.25112 c -1.82404,1.94102 -0.54229,3.37105 1.427684,5.84595 0.72759,1.29144 1.70777,2.60774 1.41525,4.39918 6.88571,-2.95015 4.29273,4.0737 5.14669,3.1491 1.61641,-1.69866 2.65591,-3.14499 1.61347,-4.98256 l -3.92918,-6.97399 c -1.9307,-1.64281 -3.06691,-2.63687 -5.673914,-1.43768 z"
			style="opacity:0.91000001;fill:#56536e;fill-opacity:1;stroke:none;stroke-width:0.71254724;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.99607843;paint-order:fill markers stroke"
			id="rightShoe" 
							/>
      	<path
			id="rightCalf" 
			opacity="0.91"
			fill="#575366"
			d="m 104.132,410.03551 c -0.18628,0.13922 -1.54252,-0.13356 -2.0671,0.96501 l -1.83677,4.27335 c -0.666404,3.52717 -2.768174,6.60343 -4.130534,8.89877 4.644654,-2.15911 6.226564,2.6214 6.784974,1.23277 2.60132,-4.90017 2.38346,-7.67945 3.17992,-9.50789 1.36242,-2.73552 1.23549,-2.06809 0.25467,-4.27701 -0.35286,-0.85768 -1.46219,-1.6761 -2.18515,-1.585 z"
							/>
	    <path
			id="leftArm" 
			d="m 90.300116,431.14135 c -1.81468,2.07487 -2.09729,3.2234 -3.47305,3.39634 -0.69865,1.16353 1.60549,1.73677 1.73516,3.44571 -4.19045,-2.41683 -4.00624,-2.12167 -5.37732,-1.08057 -0.76417,-3.57005 -1.9458,-4.04196 -0.5113,-5.697 l 4.18129,-1.14882 c 2.69362,-2.66948 0.26238,-1.59984 1.71187,-1.86048 1.64477,-0.0124 1.96022,2.59503 1.73335,2.94482 z"
			opacity="0.91"
			fill="#534865"
							/>
		<path
			id="leftShin" 
			d="m 99.218116,420.67392 c -0.0765,0.19205 0.24263,1.26208 -0.45403,1.98344 l -2.72992,2.63472 c -0.78403,0.86988 -1.54233,1.52929 -1.85656,3.03391 -3.28688,-3.94361 -3.76229,-0.81263 -4.46492,0.44806 -0.7358,-1.76105 0.50855,-2.8773 1.94306,-4.02808 l 3.11884,-3.50927 c 2.58895,-1.78154 2.03687,-2.0533 3.14919,-1.99423 0.61885,0.0775 1.28533,0.80068 1.29435,1.43145 z"
			opacity="0.91"
			fill="#56536e"							
							/>
      	<path
			id="rightThighRear" 
			d="m 95.182806,424.15944 c -0.0293,0.3451 -1.6142,1.57811 -0.94587,3.25296 l 2.79414,6.28878 c 0.69915,1.9678 1.54144,3.6112 0.76639,6.05092 4.443954,-0.94631 4.779904,11.11662 6.324024,9.95267 1.38277,-1.10149 5.31821,8.76067 8.10973,8.76973 2.31549,0.007 4.93933,-8.1632 0.25865,-15.19866 l -9.06627,-11.94196 c -4.533524,-6.16884 1.01731,-5.67848 -1.064,-6.06701 -1.09525,-1.84752 -6.311364,-2.81732 -7.176804,-1.10743 z"
			opacity="0.91"
			fill="#636696"
							/>
      	<path
			id="leftThigh" 
			opacity="0.91"
			fill="#646792"
			d="m 89.547956,429.90378 c 1.38609,4.92227 2.0864,10.71744 2.73456,10.41916 1.38276,-1.10149 7.998734,8.87236 10.790254,8.88142 2.31549,0.007 1.97936,-3.97465 -4.320574,-9.39087 -0.55815,-3.98404 -1.59253,-7.72998 -3.9286,-10.82507 -2.23426,-5.06374 -5.27336,-2.76492 -5.27564,0.91536 z"
								/>
      	<path
			id="rightThighFront" 
			opacity="0.91"
			fill="#544d68"
			d="m 95.182806,424.15944 c -0.0293,0.3451 -1.6142,1.57811 -0.94587,3.25296 l 2.79414,6.28878 c 0.69915,1.9678 1.54144,3.6112 0.76639,6.05092 4.443954,-0.94631 4.779904,11.11662 6.324024,9.95267 -2.20351,1.18068 2.95436,10.26494 8.10973,8.76973 2.22386,-0.64498 -2.99055,-7.158 -1.75173,-13.18827 1.45998,-4.97667 -9.99916,-9.43018 -8.91524,-13.66182 -4.533524,-6.16884 0.35126,-2.90169 -1.730074,-3.75534 -2.59965,-2.40533 -3.78592,-5.41952 -4.65137,-3.70963 z"
								/>
      	<path
			id="rightShin" 
			d="m 103.20711,410.20731 c -0.18623,0.13923 -0.89609,0.28745 -1.42067,1.38603 -1.13443,2.31071 -2.422734,4.78478 -2.572644,7.36774 1.057244,1.06685 1.534344,0.66472 1.087744,2.8007 -0.26467,1.26579 1.31081,2.36141 1.58607,1.78927 3.16472,-3.96705 1.38629,-5.09664 1.73872,-7.94041 0.92438,-3.93469 3.25427,-2.4052 2.71147,-3.96001 -0.7033,-1.54813 -2.40775,-1.53442 -3.13069,-1.44332 z"
			opacity="0.91"
			fill="#666997"
							/>
      	<path
			id="leftKneePad" 
			opacity="0.91"
			fill="#6c78ab"
			d="m 95.336696,422.53384 c -1.06344,1.25431 -1.67492,2.32363 -2.48348,2.43337 -0.40881,0.70203 0.91732,1.2404 0.9964,2.26662 -4.56626,-4.50356 -3.72851,2.1991 -4.11826,1.64116 -0.49912,-1.23983 -0.40702,-2.22784 0.43359,-3.22829 l 2.54385,-2.65406 c 1.57919,-1.61528 1.54321,-1.44686 2.39496,-1.6096 0.96697,-0.0144 0.36575,0.93969 0.23294,1.1508 z"
								/>
      	<path
			id="rightHand" 
			d="m 135.01461,478.76785 c 5.30846,0.10277 -1.65623,3.34064 -1.6585,3.51308 -0.0259,1.94972 -1.54225,-2.17065 1.10566,10.6644 0.40206,1.94895 -0.55835,4.77668 -2.52721,4.77668 -1.96887,0 -0.38574,-2.52659 -1.10567,-4.38179 -1.25107,-3.22395 -4.05144,-7.04379 -2.84312,-9.32183 0.93249,-1.75799 5.06035,-5.28864 7.02884,-5.25054 z"
			fill="#534966"
							/>
      	<path
			id="rightForeArm" 
			d="m 112.80811,468.91681 c 6.27572,2.53121 10.98803,9.95296 17.60809,12.02168 -2.05896,3.04591 -2.9616,3.34052 -2.45363,5.46503 -6.90985,-5.29581 -11.51457,-4.73055 -19.54493,-12.09659 -1.52274,-1.39677 -0.85333,-5.49961 4.39047,-5.39012 z"
			fill="#554e6b"
							/>
      	<path
			id="Chest" 
			d="m 94.193086,441.55444 c -0.0891,0.93525 0.27576,0.40056 3.33462,2.98787 3.373674,2.85358 8.722834,6.03289 8.660784,7.0759 -0.16593,2.78982 3.47663,4.30562 6.21594,6.30755 2.73367,1.99779 -7.50956,5.49358 -16.719704,5.12594 -9.22445,-0.36823 -17.00813,-5.38646 -17.61159,-7.36272 l -3.31697,-10.86268 c 0.72837,2.38532 11.0385,-3.23515 8.53791,-8.1375 -1.65706,-3.24866 11.10151,2.74123 10.89901,4.86564 z"
			opacity="0.91"
			fill="#6e7dab"
							/>
      	<path
			id="rightBicep"
			fill="#554f6c"	
			d="m 93.696006,452.88476 c 4.57268,1.84432 12.002214,10.47564 16.085954,13.08613 1.715,1.0963 2.76926,2.23721 3.02267,2.88432 -2.05896,3.04592 -5.40985,2.86666 -4.90187,4.99119 -2.61464,-2.00391 -0.37146,-2.41545 -3.99922,-3.57969 -5.834974,-1.87257 -14.779564,-9.25569 -17.046264,-9.46461 -3.8048,-0.35067 -4.80362,-9.25672 -4.00716,-11.61108 1.36982,-4.04918 13.17621,-7.43384 10.84589,3.69374 z"
							 />
      	<path
			id="faceShade" 
			d="m 81.713806,439.97162 c -0.19723,1.17826 -2.10365,-17.44827 -9.5414,-11.10793 0,-3.35852 2.10753,-7.31465 5.54257,-6.14572 1.07476,0.36574 2.83736,3.45466 3.40651,5.68371 0.88255,3.45645 2.92386,9.3186 0.59232,11.56994 z"
			opacity="0.91"
			fill="#605e8d"
							/>
      	<path
			id="neck"
			d="m 82.913326,434.13541 c 2.00973,0.0702 -0.16111,2.79624 0.72598,3.9091 1.30811,1.64116 -4.34075,7.57049 -7.70041,7.54972 -2.01091,-0.0124 -0.14281,-1.61942 -0.86573,-2.84525 -0.8266,-1.40157 -1.98723,-3.65511 -0.50957,-3.16619 4.1607,1.37664 6.28974,1.13577 7.34806,0.23636 1.99025,-1.69145 0.19379,-5.71195 1.00167,-5.68373 z"
			fill="#575270"
							/>
      	<path
			id="helmet"
			d="m 79.415736,421.90538 c 0.15136,0.80017 -1.35957,0.40076 -2.04203,1.50881 -3.06818,4.98156 -8.989772,9.10682 -8.759748,12.97361 0.122909,2.06571 0.471142,4.55072 -0.412796,4.55072 -3.358509,-10e-6 -6.870881,-4.25363 -6.870881,-9.79299 0,-5.53937 5.105031,-11.27679 8.410905,-12.28072 3.81657,-1.15901 9.14265,0.22916 9.67452,3.04057 z"
			fill="{ $Colors.main }"
			 			/>
      	<path
			id="rightKneePad" 
			d="m 99.409586,421.8597 c -1.99362,1.3027 -1.37235,2.00319 -2.28354,2.20872 -0.40584,0.91071 1.53709,1.9567 1.71419,3.23055 -6.89373,-5.77884 -3.32162,2.42555 -3.81267,1.7624 -0.67345,-1.50474 -1.29151,-2.76225 -0.41936,-4.08199 l 2.23281,-2.94626 c 1.6608,-2.14962 1.09619,-1.32687 2.05205,-1.60221 1.09962,-0.10018 0.6498,1.15409 0.51653,1.42879 z"
			opacity="0.91"
			fill="#6c78ab"
							/>
      	<path
			id="TopLeftShoe" 
			opacity="0.91"
			fill="#666997"
			d="m 94.803296,413.88802 c 0.91791,2.54793 0.37161,3.53926 1.6537,5.43279 0.2121,0.31322 -0.46049,0.83161 -1.06268,1.36467 3.69943,-0.48408 0.67497,-3.99577 1.40789,-5.45037 0.46179,-0.0224 1.80556,-2.2489 -0.37489,-3.50742 -0.99093,-0.55817 -1.87343,0.11967 -1.624,2.16033 z"
								/>
      	<path
			id="topRightShoe"
			d="m 97.904096,403.97722 c 0.9311,2.58159 0.96678,1.02593 2.267264,2.94447 0.21513,0.31735 0.98608,1.11938 1.31199,2.30685 3.7633,0.89187 -1.873664,-2.94342 -0.75934,-4.82163 0.4684,-0.0229 2.01067,-2.1085 -0.20115,-3.38364 -1.005174,-0.56553 -2.871794,0.88635 -2.618784,2.95395 z"
			opacity="0.91"
			fill="#666997"
							 />
    </g>

</svg>
<style>
	svg {
		height: 100%;
		box-shadow: 3px 3px 0px #495867;
	}
</style>
